[2019-09-16 22:50] pmmmwh opened #1 "Releasing this Plugin as "Fast Refresh" capable"
Ref: https://github.com/facebook/react/issues/16604

This issues tracks what is missing before this plugin attains "feature-parity" with the RN implementation and is representative of the "fast-refresh" branding.

## Tasks

- [ ] Error Recovery
  - [ ] Module Import Errors
    - [x] Static Imports
    - [ ] Dynamic Imports (Lazy)
  - [x] Syntax Errors
    - [x] Within File
    - [x] Within Compone

[2019-09-19 21:08] maisano commented on #1
@pmmmwh What needs to happen in order to get this working with webpack 5? I haven't spent much time looking into the changelog there.

[2019-09-20 15:51] pmmmwh commented on #1
@maisano
It has nothing to do with the flow/logic, it is mostly related to hook signatures changing:

1. The `afterResolve` now returns `resolvedData` with a field `createData` - which is the equivalent of webpack 4 `resolveData`. The hook is also switched to a series bail hook so we can't return the modified data.
2. The `require` hook in `mainTemplate` now switched to return chunk context instea

[2019-09-20 16:11] pmmmwh commented on #1
@gaearon
I have been working on the error box integration for a few days now - and have got to a point where I would like your input on a few things:
- I was trying to integrate with `react-error-overlay`, like how `react-dev-utils` did for CRA. However, I read from [here](https://github.com/facebook/create-react-app/pull/7662) that the overlay is going to get a rewrite soon - mind tell me a littl

[2019-09-21 14:41] gaearon commented on #1
Do you two wanna do a video call next week with me? Might be easier to talk through all issues.

[2019-09-22 02:37] maisano commented on #1
Sounds good. I'm on EST and generally pretty flexible, so let me know what works for you all.

[2019-09-22 08:47] pmmmwh commented on #1
Sounds good to me too. I am on GMT+8 and also pretty flexible. What time will work for you Dan?

[2019-09-23 21:10] pmmmwh commented on #1
My progress is tracked in [this branch](/pmmmwh/react-refresh-webpack-plugin/tree/feat/error-overlay). It is pretty rough though.

[2019-09-30 20:41] bvaughn commented on #1
Did the three of you ever end up talking?

If I was looking to lend a hand here, what would be the most impactful thing to look into?

[2019-09-30 23:20] maisano commented on #1
👋 @bvaughn – we haven't met yet–I have some time this week if we want to try. Are you on PST?

@pmmmwh – assuming [this](https://twitter.com/pmmmwh) is you, can you open your DMs? It'd be easier to coordinate there.

[2019-09-30 23:41] bvaughn commented on #1
Hi :wave: I am located in California, so yeah PST.

[2019-09-30 23:45] kevinwilde opened #2 "$RefreshReg$ appears in production bundle"
Hey there! Super excited about the work happening here.

One thing I noticed is that if I clone this repo, and run `yarn build` in the example app, the bundled main.js contains references to $RefreshReg$. Opening the built app via dist/index.html crashes as a result.

If this is unhelpful because it's still so early in the development of this plugin, feel free to close this. I'm happy to try to he

[2019-10-01 17:36] pmmmwh commented on #1
Nope - we haven't talked yet. I definitely would like a hand 😃 . It would be great if you can provide more context on the error-box experience @bvaughn .

Yep that's my long abandoned Twitter account - I have opened my DMs.

[2019-10-01 18:12] bvaughn commented on #1
@maisano Want to start a thread between the three of us on Twitter?

[2019-10-03 09:15] pmmmwh commented on #2
Hey @kevinwilde ! Sorry for my late reply. The reason the build breaks is that the `react-refresh/babel` plugin is applied unconditionally, which will apply transforms to the bundle. I will push a fix to the example app later today to fix that.

[2019-10-03 09:28] pmmmwh commented on #2
Fixed b241366

[2019-10-03 09:28] #2 closed

[2019-10-31 02:49] charrondev commented on #1
Just wanted to say that I started testing it our setup here:

https://github.com/vanilla/vanilla/pull/9509

Seems to be working better than react-hot-loader ever did. Has there been any further discussion about implementing the error overlay? The discussion kind of trailed off. I'm available to help with that if you want assistance.

[2019-11-01 19:37] pmmmwh commented on #1
Hey! Thanks for trying out the plugin. I'm happy that it worked well!

Regarding the error overlay, we did start a conversation on Twitter on that (it is technically also tracking the progress). I haven't got all the missing pieces - yet, but here are some things that have to be addressed:
- The current plugin does not work reliably when components' refresh boundaries get mutated. I am working on

[2019-11-01 20:14] gaearon commented on #1
For an error experience, I'd be ok if:

- The default was super simple, just like an iframe overlay that shows an error message with stack
- There was a way to specify a custom package which the plugin would call instead
  - CRA and others could use it to integrate with React Error Overlay

Makes sense?

[2019-11-01 21:13] pmmmwh commented on #1
Hey Dan! Thanks for the prompt reply - that is definitely going to help.
Mind if I grab you for a PR review in the near future?

I think I can also track an issue on the error overlay in the CRA repo later after I'm done with the base case - and see what needs be done (both sides) to integrate with the implementation.

[2019-11-02 00:28] gaearon commented on #1
Sure I'd be happy to review. In fact let me know when you think this is ready for a DX review pass. I can write some notes on what works well and what seems missing.

[2019-11-02 03:30] charrondev commented on #1
Going back on the error overlay:

- What are the types of errors that we want to be catching and displaying here?
  - Hot reload errors? (Eg. hot reload failed)
  - Webpack build errors?
  - React errors that would normally just crash/unmount the component stack?
- In an application with more than one mount point is the overlay meant to take up the whole screen or just part of the screen that the

[2019-11-02 14:44] pmmmwh commented on #1
To my understanding, there are 3 types of errors: build time (i.e. compilation), run time (i.e. JS/React, not caught with Error Boundaries) and integration (e.g. HMR, socket integration, dev server) error. The error integration would have to render the first 2 types gracefully for it to pass - the third type we can either fail and force page reload, or just stop propagation. Based on this assumpti

[2019-11-04 15:12] charrondev commented on #1
Thanks for the clarification.

I took a quick look trying to find existing integrations w/ `react-error-overlay` and found one [error-overlay-webpack-plugin](https://github.com/smooth-code/error-overlay-webpack-plugin), which looks polished but I couldn't get it to work at all.

I'm not going to have any more time today to dive into it, but trying to get your error overlay branch also isn't workin

[2019-11-04 19:00] pmmmwh commented on #1
If you add `devtool: 'cheap-module-source-map'` to your webpack configuration, it should work as expected. I did update the branch though, recent Webpack updates broke the HMR detection of the plugin.

[2019-11-04 21:47] gaearon commented on #1
Can we start with just build errors for V1?

[2019-11-04 22:05] pmmmwh commented on #1
@gaearon
Is there a way for the plugin to notify `react-refresh` that exports are mutated and probably need to remount? I am trying to handle the case where exports are mutated: I can correctly detect that `exports` have changed via HMR, and even capture the previous/next modules, but since their corresponding signatures did not change, the updates won't get processed (unless the mutation only inc

[2019-11-04 22:14] pmmmwh commented on #1
Actually, I just (few hours ago) pushed some changes to the `feat/error-overlay` branch. It is using react error overlay, and will require some cleanup, but I would consider the general error experience for the usual use case (both build/runtime) done.

If you don't mind - @gaearon can you can clone it and do a DX review?

I still need to work on swapping out the error overlay, which probably will

[2019-11-04 22:15] gaearon commented on #1
I think we should just force a full page reload for now. It would indeed be nice if webpack provided a way to do this but I don't think it's currently possible. We can definitely *detect* it, see the "is boundary invalidated" code in Metro.

[2019-11-04 22:16] gaearon commented on #1
Another case you'll notice affected by this is changing component from exporting a class to a function.

[2019-11-04 22:18] gaearon commented on #1
Regarding `react-error-overlay`. Are there any concerns about it relying too much on CRA assumptions? Like I'm not sure how stack symbolication works but does it load the correct `.map` file when there's multiple entry points etc?

[2019-11-04 22:35] pmmmwh commented on #1
I did reference that, and have already implemented the check/bail out for full refresh 😺 .

Yes, basically any combinations of prev/next with a function would hit that.

I think it works with multiple entry points. The main assumptions to me that would fail in any projects not from CRA would be the custom dev server middlewares and `cheap-module-source-map` (devtool). It also won't work with resou

[2019-11-05 13:38] charrondev commented on #1
I'll give the branch another test tomorrow now that it's updated. I'm using it multi-compiler setup w/ multiple entrypoints per compiler.

I'll double check again as well, but that seemed to be working form my testing as well, and was respecting the `hotOnly` flag from the webpack dev middleware.

[2019-12-05 18:22] drather19 opened #4 "Question RE: adding/removing hooks..."
I've been trying this plugin out on a few CRA-based projects (based on steps mentioned [here](https://github.com/facebook/react/issues/16604#issuecomment-561961608)). So far, things work well in terms of preserving state during development as I edit my components and hooks.

**Question:** Anytime I add or remove hooks, I get the an error stating that the number of hooks has changed between renders

[2019-12-06 17:20] pmmmwh commented on #1
Hey all - Thanks for participating in the conversation 😺!
I am happy to announce [`v0.1.0`](https://www.npmjs.com/package/@pmmmwh/react-refresh-webpack-plugin) is out now 🎉

[2019-12-06 17:23] pmmmwh commented on #4
Hey! Thanks for the issue.

I just shipped `v0.1.0` (on npm) - I tested with the latest master and I wasn't able to reproduce what you're mentioning. Can you try it out and see if it works?

[2019-12-06 17:41] drather19 commented on #4
I tried again with the latest released version and on master (nice overlay!), but do still see things error out when I add/remove hooks. Sorry for not adding a simple test, but simply adding/remove the following from a `React.FC` triggers the error overlay:

`const callback = React.useCallback(() => {}, []);`

It's not a big deal at this point (just an extra reload I can trigger by making more edi

[2019-12-06 17:58] pmmmwh commented on #4
I'll have to check if I did something wrong. I am pretty sure state/reducer/refs work, let me check.

[2019-12-06 20:20] gaearon opened #6 "Cannot read property 'mode' of undefined"
After adding this plugin to an ejected CRA project I get:

[code]

Are we assuming some particular webpack version?

[2019-12-06 20:24] gaearon opened #7 "Try integrating into Create React App"
I've tried integrating this into an ejected CRA project but got stuck (https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/6).

This gets me thinking: perhaps, the next milestone is to get it to a point where we can create a pull request for CRA? What's missing for that to work? cc @iansu

[2019-12-06 20:27] gaearon commented on #4
No

[2019-12-06 21:08] drather19 commented on #6
That's odd... I also tried it on a brand new CRA project using the instructions in the README, but didn't encounter the same error. I did the following:

[code]

[2019-12-06 21:11] drather19 opened #8 "Server startup hangs forever (or a really long time?) if disableRefreshCheck=false"
I have to set `disableRefreshCheck: true` in order to successfully start up the webpack-dev-server, otherwise the startup seems to hang (I waited minutes, but not hours).

This is observable both on an ejected CRA app patched using instructions from the README as well as an existing CRA app that uses react-app-rewired/customize-cra.

[2019-12-06 21:14] drather19 opened #9 "Does the error overlay websocket need a ping heartbeat?"
Related to https://github.com/facebook/create-react-app/issues/8091 in the latest CRA.

The same idle timeout seems to affect the websocket used in this plugin, as well (makes sense since it's constructing the same kind of connection).

[2019-12-06 22:15] gaearon commented on #6
I tried this on ejected “todomvc” app from Redux repo examples folder.

[2019-12-06 23:04] iansu commented on #7
I would love to get this into Create React App. If there's anything needed on our end (other than installing and using the plugin) please let me know.

[2019-12-06 23:24] Ericnr commented on #7
Would be great to see this being implemented without ejecting from CRA too, using Craco or React-App-Rewired.

[2019-12-07 00:53] gaearon commented on #7
Yes, that’s what I’m referring to by “creating a pull request for CRA” 🙂 that was the goal all along.

[2019-12-07 08:51] pmmmwh commented on #7
To my knowledge, most of the work have to be done here:
1. Allow custom error overlay and alter react error overlay/the API needed here
2. Fix assumptions when sniffing Babel/Webpack, since CRA does not use webpack's mode argument
3. Need to try come up with an integration with the Webpack socket situation (related #9 ), and also make this work with servers under proxy/custom paths)

[2019-12-07 09:05] pmmmwh commented on #9
I didn't notice this until you mentioned it. Pinging seems like a bad idea on first thought, will have to check how webpack-dev-server handles that.

[2019-12-07 09:06] pmmmwh commented on #4
I couldn't reproduce this in a normal webpack app. I guess it might have something to do with integration between this and CRA. #7

[2019-12-07 09:07] pmmmwh commented on #6
That's my bad - I did some sniffing on webpack mode but did not add a check for its existence.

[2019-12-07 13:26] sibelius opened #10 "Support other means of Webpack sockets"
[code]

this is the problem

[code]

we are using https://github.com/shellscape/webpack-plugin-serve instead of https://github.com/webpack/webpack-dev-server

maybe @shellscape or @PlayMa256 can help us with this one

[2019-12-07 14:21] shellscape commented on #10
@sibelius this module looks to be specifically tailored to webpack-dev-server. WPS doesn't use sockjs and we don't export WDS variables, so this module will probably have to allow for detection of WPS and use the socket provided.

[2019-12-07 15:24] pmmmwh commented on #10
Yes - for the current implementation, I purposefully stick to what CRA is doing so as to allow easier integration with them. I will need to look at the socket implementation for WPS and come up with a way to allow users to customize this function. Thanks for raising this though - I was planning to support custom sockets anyways.

[2019-12-07 17:34] tim-soft commented on #10
I'm also seeing this with wepback-dev-middleware + webpack-hot-middleware + express

[2019-12-07 18:42] pmmmwh commented on #8
OK - have been investigating this. It seems that the plugin thrown an Error during compilation and is supposed to warn you, but the error somehow got lost and never got propagated to the console. It might have something to do with the CRA's custom error handling using the Webpack Node API.

Will further investigate on that.

[2019-12-07 19:49] nthypes opened #11 "The plugin is unable to detect transformed code from react-refresh"
The plugin supports TypeScript (_.tsx files_)?

I'm getting the following error:

`✖ ｢wdm｣: Error: The plugin is unable to detect transformed code from react-refresh. Did you forget to include "react-refresh/babel" in your list of Babel plugins? Note: you can disable this check by setting "disableRefreshCheck: true".`

My **babel.config.js**:

[code]

My **webpack.config.js**:

[code]

[2019-12-07 20:28] pmmmwh commented on #11
I'm actually on this right now. It is related to how Webpack handles errors and how the plugin sniffs babel transforms. For the time being, you should be able to get away with `disableRefreshCheck: true`

[2019-12-07 20:37] nthypes commented on #11
Ok. I will disable.

One more thing: We need to apply `module.hot.accept()` in the main **index.tsx** or this is injected somehow on babel?

[2019-12-08 13:17] gaearon commented on #6
Maybe you’re checking it incorrectly? It sounds weird you’d have to sniff for it.

What does TerserPlugin do to only turn on in production mode? We need to do the opposite of that.

[2019-12-08 13:19] pmmmwh commented on #6
I worded it inappropriately. I edited my comment above to reflect what is actually happening.

I'll check how TerserPlugin does it.

[2019-12-08 13:45] MasterCassim commented on #6
Webpack automatically adds the TerserPlugin for production builds since v4:

-> https://webpack.js.org/configuration/mode/

[2019-12-08 13:55] pmmmwh commented on #6
@gaearon I couldn't reproduce this. I just cloned the Redux repo and ejected the same app (`todomvc`), adding in only the babel plugin and the webpack plugin and I didn't hit this issue. (I hit the issue with #8 / #11 , but they are unrelated to mode checking)

[2019-12-08 18:45] allocenx commented on #11
I'm facing the same issue aswell...and i thought i was doing something wrong.

[2019-12-08 20:37] pmmmwh commented on #11
It would be great if you can share your setup a bit more so that I can understand what causes you issues.

[2019-12-09 06:20] otakustay opened #13 "Failed to work when react is external and loaded via standalone script"
With HTML template like:

[code]

And a webpack config including:

[code]

This plugin fails to work.

I'd like to dive into it a little, but with little knowledge about webpack I'm not sure I can find any valuable ideas.

[2019-12-09 07:36] otakustay commented on #13
After looking into both this plugin and `react-refresh/runtime`, it comes the essential part of this issue is that `react-refresh/runtime`'s setup should be run before `react-dom` is initialized.

I tried to extract `react-refresh/runtime` and `ReactRefreshEntry.js` into separated `.js` files and load them from `<script>` element **BEFORE** `react-dom`, hot reload works as expected.

In this case,

[2019-12-09 14:40] pmmmwh commented on #13
Yes, the runtime setup have to be done before React's first run. This is unfortunately a limitation from the runtime. I will subscribe to facebook/react#17552, but before that is resolved not a lot could be done here.

[2019-12-09 17:57] silverwind commented on #9
Every websocket connection should have a keepalive to prevent firewalls from terminating the connection unexpectedly. Sockjs defaults it to one ping every 25s which seems like a good default to me.

[2019-12-09 21:49] esetnik opened #14 "Fails to work when integrated into create-react-app"
The error I am seeing is. Please let me know if there's anything else you need.

[code]

[code]

Taken from https://github.com/facebook/react/issues/16604#issuecomment-561967793
[code]

[2019-12-10 17:18] billyjanitsch opened #15 "BabelDetectComponent logic doesn't work for consumers"
First, thank you so much for your work on this project. I'm so excited to use it! 💙

While setting it up, I noticed what I think is an issue with the current logic around `BabelDetectComponent`.

The detection works by checking whether a "component" in `BabelDetectComponent.js` (part of the react-refresh-webpack-plugin aka RRWP runtime) was transformed by `react-refresh/babel`. Note that, when RRW

[2019-12-10 17:24] billyjanitsch commented on #15
I suspect this is also the cause of https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/11.

[2019-12-10 21:47] pmmmwh commented on #15
Yes - I am fully aware of this. #17 tries to fix this by making the error non-blocking, but unfortunately I cannot think of a robust way to detect a Babel transform being applied. I would appreciate if anyone have any ideas on that.

[2019-12-10 22:01] #8 closed

[2019-12-10 22:01] #14 closed

[2019-12-11 22:11] ctrlplusb opened #19 "Thank you"
Been looking at the source and this does not look like it was a trivial effort. I want to send you much love and thanks for donating so much of your time in order to improve the developer experience for many. ❤️

[2019-12-11 22:45] IronSean opened #20 "Incremental build performance issues"
I'm experiencing some incremental build performance issues. These are taken by sampling the Time output from webpack incremental builds.

RRWP+babel+ts-loader+ForkTsCheckerWebpackPlugins: 11-17 s
RRWP+babel+ts: 9-16 s
babel+ts-loader+ForkTsCheckerWebpackPlugin: 1.8-2.0s
babel+ts-loader: 1.5s-1.7s
babel: 1.4-2.1 s
ts-loader+ForkTsCheckerWebpackPlugin: 1.1-1.9 s

It looks like RRWP is adding 8-15 se

[2019-12-12 00:14] pmmmwh commented on #9
I am pretty confident

Did a bit of further research - I think it would be best to move this upstream (to WDS/CRA) because we are just consuming sockets created by these parties generically. The implementation of a heartbeat is heavily dependent on the actual socket being used and is difficult for the overlay to control: for example, if the server did not implement handling for the 'pong' message,

[2019-12-12 01:24] gaearon commented on #20
Could adding

[code]

to the loader help? https://webpack.js.org/api/loaders/#thiscacheable

I don't understand for sure from the docs if it's the default or if _calling_ it without argument is the default. @IronSean mind checking if putting this line here helps:

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/70a3f55269fc7a73acfecc6237c368bb994ed4f6/src/loader.js#L21

[2019-12-12 14:55] IronSean commented on #20
Incremental builds adding and removing a character from a component took 14, 13, 11.5, and 11 seconds with `this.cacheable()` added. Also, this is with the latest master and not `0.1.0`.

[2019-12-12 16:22] IronSean commented on #20
Here is the output from the incremental build using

**With RRWP**
[code]

[04Yr] ./ts/shared/contexts/ModalContext.tsx 2.54 KiB {app} [built]
    [0] 0ms -> [+HD3] 441ms -> factory:10ms dependencies:11ms building:1205ms = 1667ms
[code]
｢wdm｣: Compiling...
<w> [webpack.Progress] 1109ms building
<i> [webpack.Progress] 13ms finish module graph
<i> [webpack.Progress] 11ms sealing
<i> [webpack.Progres

[2019-12-12 17:13] mmhand123 commented on #20
Was running into the same problem with a pretty large webpack project. It looks like for some reason the `addDependency` line in the loader is somehow causing it to actually not be cached. Removing that line speeds up incremental recompiles back to their original speed in our project. Happy to make a PR if that helps!

[2019-12-12 18:59] IronSean commented on #20
@gaearon I was wrong, my run command was triggering `npm install` before the run and wiping out my `npm link`. Adding `this.cacheable();` does in fact fix it, lowering build times to 1.5-2s.

@mmhand123 's solution of removing the line 21 also works:
https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/70a3f55269fc7a73acfecc6237c368bb994ed4f6/src/loader.js#L20

[2019-12-12 19:06] mmhand123 commented on #20
Unfortunately in the project I'm working in the `this.cacheable()` solution doesn't seem to impact incremental build performance.

[2019-12-12 19:31] mmhand123 commented on #20
@IronSean what do you think about using the other solution as the proposed fix since it works for both of us?

[2019-12-12 19:38] IronSean commented on #20
I'd want to know what it's doing and if it would cause causing any other issues by removing it. Ultimately that's probably for @pmmmwh to answer since I don't know myself. It seemed to work fine without it on my env but I didn't test robustly.

That's odd that `this.cacheable` only affects one of us.

[2019-12-12 19:41] mmhand123 commented on #20
Yeah definitely. I actually ended up moving the require outside of the loader along with removing the dependency. I'll make a pr too for @pmmmwh to look at whenever there's free time!

[2019-12-12 19:59] IronSean commented on #20
Both solutions work for my project to similar results, but your fix does perform significantly better in the small Kitchen Sink demo, If that single import doesn't cause any other issues I'd say that's the better solution.

[2019-12-12 21:03] billyjanitsch commented on #15
Sorry, I checked for issues but not PRs.

Haven't written a webpack plugin so I don't know if this is possible, but could the plugin inject the _content_ of `BabelDetectComponent.js` directly into the consumer's webpack entry point module before it gets processed by loaders, and then later check whether _that_ module was transformed to reference the runtime?

Or is there a way for the plugin to fa

[2019-12-13 13:52] GuskiS opened #24 "Getting error in web workers"
I'm getting error when using with web workers:
`Uncaught ReferenceError: $RefreshReg$ is not defined`

[2019-12-13 14:56] pmmmwh commented on #20
I don't have time to look at this until Sunday night, but from what I read from the Webpack docs, removing `addDependency` is safe, because the file is static. I am guessing that `addDependency` broke Webpack's default caching behaviour, so thus why adding `cacheable` could fix that.

Moving the require outside of the loader should further ensure better caching since Node will cache it.

[2019-12-14 00:04] luisgrases commented on #6
I believe it requires webpack 5

[2019-12-16 15:21] pmmmwh commented on #6
Can you explain a bit more? You mean the error only triggers in Webpack 5 or the repo only works in Webpack 5?

[2019-12-16 17:26] luisgrases commented on #6
I believe the repo only works in webpack 5

[2019-12-17 01:16] gaearon commented on #13
Can you check if https://github.com/facebook/react/pull/17633 fixes this?

[2019-12-17 13:44] gaearon commented on #13
I verified that https://github.com/facebook/react/pull/17633 fixes it, although it will only work with *development* versions of React. Your snippet uses production versions so you'll need to somehow handle that.

[2019-12-17 13:56] gaearon commented on #13
Fixed in `react-refresh@0.7.1`.

[2019-12-17 14:40] pmmmwh commented on #13
@otakustay can you check to see if the plugin works now with `react-refresh@0.7.1`?

[2019-12-17 14:42] pmmmwh commented on #6
No, the repo does not work with Webpack 5. All testing I've done and all examples provided here all uses Webpack 4.41.2. So if the plugin does not work for you on webpack 4, please file an issue and provide a reproduce-able case.

[2019-12-17 17:53] #20 closed

[2019-12-17 18:23] pmmmwh commented on #24
Can you provide me some steps to reproduce? I'm not too familiar with Web Workers and don't have much context on what is broken.

[2019-12-17 18:24] pmmmwh commented on #11
Closing this in favor of #15 , because it is more accurately describing the problem.

[2019-12-17 18:25] #11 closed

[2019-12-17 18:28] pmmmwh commented on #15
I would rather not do it that way - content injection will most likely screw up users' setup and also source maps.

Symlinks could work, but users will have to ignore that file or we have to somehow delete it, then it would raise the problem of false-positives by deleting users' files.

For reference, I am testing to use `@babel/core` to grab the config and see if it is possible to check what plug

[2019-12-17 18:39] gaearon commented on #13
FWIW I've verified this with the plugin.

[2019-12-17 18:56] pmmmwh commented on #13
OK - closing this for now.

[2019-12-17 18:56] #13 closed

[2019-12-18 04:27] otakustay commented on #13
@gaearon I can confirm `react-refresh@0.7.1` works, but along with this plugin's `0.1.2` version part of my app fails to render, some network requests triggered inside `useEffect` are not executed.

[2019-12-18 04:54] mmhand123 opened #25 "Issue with adding/removing hooks when runtimeChunk is true"
When `runtimeChunks: true` is enabled in the webpack config, I'm running into an issue with getting `Rendered more hooks than during the previous render.` (or less, depending on what hooks get added/removed). To reproduce, add `optimization: { runtimeChunks: true }` to the webpack config of `wds-kitchen-sink`, and then add a hook to a functional component, save, and add another, The error should a

[2019-12-18 05:00] mmhand123 commented on #25
Actually might not be the issue I thought it was. Getting the error to reproduce pretty much always when `optimization.runtimeChunks` is true. Will try to dig in more tomorrow.

[2019-12-18 11:35] pmmmwh commented on #25
I think this might be related to #4

[2019-12-18 11:46] pmmmwh commented on #13
Is it possible to provide a Repo/CodeSandbox or something that can reproduce your issue?

[2019-12-18 12:36] mmhand123 commented on #25
Ah yeah definitely. Sorry about opening the new issue, wasn't thinking 😅

At least in my config (and the `wds-kitchen-sink` when I added it) `runtimeChunks: true` was what was causing the errors to start occurring.

[2019-12-18 17:58] drather19 commented on #25
@mmhand123 thanks a lot for digging this up! I can confirm that setting `runtimeChunks: false` via craco in my CRA app fixes the issue I was having with adding/removing hooks in #4 earlier.

[2019-12-18 18:00] drather19 commented on #4
As mentioned in #25, I can resolve this in my CRA app by setting `webpackConfig.optimization.runtimeChunk = false;` via craco. Now everything seems to be working like a charm!

[2019-12-18 20:05] pmmmwh commented on #25
I can confirm that this is reliably reproducible.

I think I also know the culprit, but this will take a bit of time to fix because it is related to how the plugin examine chunks to inject module initialization template conditionally. (createRefreshTemplate.js@L37)

It has to be conditional because some plugins, like the HTMLWebpackPlugin, also bundles `html` files as `javascript/auto` modules. If

[2019-12-19 01:20] gaearon commented on #7
Could Babel detection be failing because the injected module doesn’t have a path that matches files going though Babel? Like usually people limit it to their source directory.

[2019-12-19 04:32] #4 closed

[2019-12-19 04:32] #25 closed

[2019-12-19 04:40] pmmmwh commented on #25
Fixed in `v0.1.3` 🎉

[2019-12-19 04:40] pmmmwh commented on #4
Fixed in `v0.1.3` 🎉

[2019-12-19 04:41] pmmmwh commented on #7
Yes exactly. People often ignore `node_modules` so the injected module does not get processed, thus yielding high percentage of false positives.

[2019-12-19 06:39] otakustay commented on #13
@pmmmwh I'v checked this is caused by another modification of my build tools, this plugin did everything well

[2019-12-19 10:46] mmhand123 commented on #25
Thank you!!

[2019-12-19 11:17] K-Leon opened #27 "Issues with Webpack 5"
First of Thanks for this great plugin!

But i'm still struggeling getting it to work - i was experimenting with Webpack 5 and stumbled over this issue:

```Error: NormalModuleFactory.afterResolve is no longer a waterfall hook, but a bailing hook instead. Do not return the passed object, but modify it instead. Returning false will ignore the request and results in no module created.```

If you drop

[2019-12-19 13:01] apostolos commented on #27
Hi @K-Leon, this plugin does not yet support webpack@5+

You can try your luck with https://github.com/WebHotelier/webpack-fast-refresh -- it closely follows changes to `react-refresh-webpack-plugin` but it is webpack@5+ compatible minus the overlay stuff and the babel plugin detection logic.

WARNING: We do not plan maintaining `webpack-fast-refresh`. After `react-refresh-webpack-plugin` adds sup

[2019-12-20 02:14] fwh1990 opened #28 "Suggestion: Don't display error iframe"
Sometimes, the Promise reject data which is expected, but this plugin report error message by create an iframe#react-refresh-overlay element to html.body. That's boring, because **I can see error message in Console**.

This behavior will interrupted my mind and I have to close iframe by hand.

[2019-12-20 02:45] pmmmwh commented on #13
Good to hear that!

[2019-12-20 02:52] pmmmwh commented on #27
This is on my radar, unfortunately I won't have time to fix this yet.

This is a known issue #15
Are the other errors shown related to the plugin as well? I don't recall my use of `trimRight` anywhere.

[2019-12-20 02:54] pmmmwh commented on #28
I thought the overlay only shows up when there are unhandled promise rejections? That's an Error by definition, isn't it? Or are you saying that it shows up even when the rejection is handled?

[2019-12-20 03:13] fwh1990 commented on #28
I didn't handle promise rejection, that's my purpose. Would you please add an option to disable this behavior?

[2019-12-20 03:25] fwh1990 commented on #28
I just tested Promise.reject in RN 0.61, it's a warn display at the bottom of screen. You recognize it as error.

Whatever, I also want to have an option to disable showing error.

[2019-12-20 05:44] ro-savage commented on #24
@pmmmwh - I haven't had much time to looking into this yet.

But I believe the issue is caused because workers don't have window. And at least with https://github.com/developit/workerize-loader and https://github.com/GoogleChromeLabs/worker-plugin it suggests changing your webpack config to use `this` to allow for Hot Module Replacement

[code]

When you do this Webpack is throwing on

[code]

Whi

[2019-12-20 15:46] mmhand123 opened #30 "Get websocket port from `document.currentScript` if possible"
Sorry if this is a duplicate. I saw there was #10 but I think this is a little different. With `webpack-dev-server` we're running it off another port locally. I looked at how `wds` tries to establish the socket and noticed `__resourceQuery`, but also that it falls back to trying to use `document.currentScript`. For the time being would it be ok to add in trying to parse `document.currentScript` an

[2019-12-22 17:14] pmmmwh commented on #30
Yea - this is something on my radar. I do have a TODO in the source code tracking this. I'm also waiting for webpack/webpack-dev-server#2055 to land so that public path can be properly supported. I have some code written already - if you want to pick this up I can share them cause atm I'm focusing on #7 and #10

[2019-12-22 17:18] pmmmwh commented on #28
My thoughts on this:

- Unhandled promise rejection should be warned as it is being warned in the console anyways. I can tune it down to be an error, but I wouldn't want to allow someone to switch of unhandled rejections independently in the error overlay
- Realistically, I can allow an option to make the plugin not inject the error overlay runtime code, which will effectively disable the overlay.

[2019-12-23 10:36] markovicdenis commented on #30
Another idea would be to add settings options for "hostname" and "port" for the socket connection...

In my particular configuration, the deserver is running on different port with different hostname as well.

[2019-12-24 02:57] mmhand123 commented on #30
@pmmmwh yeah I'd be happy to pick it up and work on it. Would be great to see what you've already done!

@markovicdenis Yeah - you can actually get those from `document.currentScript` too. I just mentioned port because it was the thing custom in the webpack config I was working with :sweat_smile: Could potentially do both though, add the options and fallback to current script or something.

[2019-12-25 16:18] fwh1990 opened #31 "Incompatible with chrome 53"
[code]

[code]

Work fine at latest chrome version

[2019-12-27 06:05] swashata commented on #1
Hi @pmmmwh, Thank you for your awesome work here. I would like to integrate this with https://wpack.io (https://github.com/swashata/wp-webpack-script) (A CRA like tooling for WordPress) and there I am proxying WordPress site through browser-sync with Webpack Dev Middleware and Webpack hot middleware.

I see in your todo list that we need to have express like middleware to cater advance WDM users.

[2019-12-28 03:12] fwh1990 commented on #28
Any progress?

[2019-12-28 16:14] pmmmwh commented on #1
You can check #23 - the solution shown there is not perfect (because of entrypoint ordering issues). I was thinking to draft an API to allow custom entry ordering, but afaik WHM seems to be the only know hot client using `window` to inject

[2019-12-28 16:28] pmmmwh commented on #28
I'm currently on vacation and don't have much free time to do anything yet. You can submit a PR if you want this done quicker.

[2019-12-30 22:28] mattfwood commented on #28
For cases where you need to ignore a thrown exception, you should have something in your user code that is catching it and doing something with it (you could also use an [Error Boundary](https://reactjs.org/docs/error-boundaries.html#introducing-error-boundaries)):

[code]

Keep in mind that in React, if you hit an uncaught exception it will crash the entire app. From the [React Docs](https://reac

[2019-12-31 03:10] fwh1990 commented on #28
My project run well when I am using `react-hot-loader`, and never ever crash when I uncaught rejection. I don't think Promise.reject can crash React component tree, it's async and out of control by react

[2019-12-31 15:45] mattfwood commented on #28
Ahh, my mistake, i was confusing rejected promises with uncaught exceptions.

[2020-01-02 08:29] phaistonian commented on #1
@pmmmwh  So, a _solution_ for this, i.e support for hot middleware, is or will on its way?

ps: Happy 2k20!

[2020-01-06 01:54] githoniel opened #32 "error overlayer not work when warning"
building error only result in console warning but no error overlayer

I notice in https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/1#issuecomment-549579144

then I'm now using offical webpack-dev-server, with no custom socket implementations, no proxy and using `cheap-module-source-map` but overlayer still not work

what need to support overlayer? or It only work in CRA project?

**Up

[2020-01-07 18:06] gaearon commented on #28
Error overlay should display unhandled rejections. It is easy to intentionally handle it by adding `catch()` if you don't want to treat it as an error.

It is also true that we should offer a way to customize the error overlay to "redirect" it to another module. We'll need need this for opinionated integrations like Next. Seems like that would cover the use case for a "noop" overlay too anyway.

[2020-01-07 23:06] SimenB commented on #28
Using the builtin error overlay in webpack creates duplicate overlays with this plugin active. I don't think it's a single plugins responsibility to provide an overlay, it should be explicitly configured or provided as part of an abstraction like CRA, Next etc.

[2020-01-08 14:53] fwh1990 commented on #31
I find out that errors will only show when `devtool` includes literal `eval`
* eval
* cheap-eval-source-map
* ...

[2020-01-08 16:00] esetnik commented on #7
Based on [the suggestion by @drather19](https://github.com/facebook/react/issues/16604#issuecomment-561961608) I have published a customize-cra plugin to make it easier. See [esetnik/customize-cra-react-refresh](https://github.com/esetnik/customize-cra-react-refresh).

[2020-01-10 08:31] githoniel commented on #32
sorry I just found this duplicate with #28

[2020-01-10 08:31] #32 closed

[2020-01-13 23:44] jcdhomes commented on #30
@mmhand123  I was able to utilize the `sockPath` and `sockPort` config items from the `devServer` config to setup the socket in `createSocket.js` using `__resourceQuery`.   I didn't have any luck with `document.currentScript` because it always just returned the name of the bundle this entry file ends up in and doesn't include the added query.  (ie `main.bundle.js`).

@pmmmwh Would you like a PR fo

[2020-01-13 23:46] carrickjason commented on #30
@mmhand123  I was able to utilize the `sockPath` and `sockPort` config items from the `devServer` config to setup the socket in `createSocket.js` using `__resourceQuery`.   I didn't have any luck with `document.currentScript` because it always just returned the name of the bundle this entry file ends up in and doesn't include the added query.  (ie `main.bundle.js`).

@pmmmwh Would you like a PR fo

[2020-01-14 00:09] bugzpodder commented on #7
I tested this with mostly a CRA 3.3.0 build and got a few issues:
1. Got the same error in #29 and that fix worked for me.
2. The first change always refreshes the page for some reason.  subsequent changes doesn't.
3. After a bit I get "The development server has disconnected.
Refresh the page if necessary. "  then if I make a change nothing happens (page doesn't refresh/update).

[2020-01-14 00:51] gaearon commented on #28
Are you talking about the compile-time or runtime overlay?

[2020-01-14 08:14] SimenB commented on #28
Compile-time

[2020-01-14 16:42] jimmyn commented on #7
I'm using [craco](https://github.com/gsoft-inc/craco) with configurations from this [codesandbox example](https://codesandbox.io/s/craco-fast-refresh-fzuj3?from-embed) and it seems to be working fine, but I'm also fighting with duplicated error overlays - https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/28

[2020-01-15 17:29] OneCyrus commented on #28
yes, please let us disable it. the visualization is not that great. we already use error-overlay-webpack-plugin which give better errors.

![image](https://user-images.githubusercontent.com/7747800/72456300-af286800-37c4-11ea-86f8-082bf1968c7f.png)

this is far better for us:

![image](https://user-images.githubusercontent.com/7747800/72456417-ebf45f00-37c4-11ea-9792-2bfdec45c47c.png)

[2020-01-16 10:26] githoniel commented on #28
webpack-dev-server provide builtin overlay already.
https://webpack.js.org/configuration/dev-server/#devserveroverlay
I think it is enough for most case, and this plugin should have an options to disable the layout to avoid duplicate

[2020-01-16 14:47] mmhand123 commented on #28
I made a PR to make the overlay default off and added an option to add it back in. Wonder though if it might be better for the plugin to not worry about the overlay at all.

[2020-01-16 15:17] SimenB commented on #28
I think it shouldn't be here at all, but as long as it's not forced upon me it doesn't really bother me

[2020-01-18 09:17] KurganskySergey opened #34 "Support typescript loader ?"
Does this plugin force me to use babel ? I'm developing react project while using only typescript loader in webpack. Can i use your awesome tool for my project or maybe you have plans to support other loaders ?

[2020-01-18 09:55] TrySound commented on #34
This is babel specific tool. You can add babel after typescript or use only babel to transpile your code.
https://github.com/facebook/react/tree/master/packages/react-refresh/src

[2020-01-18 11:09] KurganskySergey commented on #34
looks like i can do it this way:
[code]

no .babelrc no other configs for babel.

[2020-01-18 11:14] KurganskySergey commented on #34
If i change the order of rules it doesn't work
i think rules are applied in reverse order to files

[2020-01-21 06:19] markovicdenis commented on #34
You could use babel to compile typescript and use tsc --noEmit to have the error reports.  Or you could use tsc to convert typescript to JS and use the compiled JS as input paths in webpack (which I am currently doing now, this also allows you to skip some babel plugins like class-properties, decorators etc, since the tsc handles those).

[2020-01-21 07:43] KurganskySergey commented on #34
I use awsome-typescript-loader and i belive it's more convenient then both usecases you've described
- no babel's multiple dependencies
- no trash files in project structure

[2020-01-22 21:10] garrettmaring opened #35 "`connection.onClose` is not a function"
In `createSocket`, I'm seeing a `connection.onClose` is not a function error. In the `SocketClient` conditional, it is not using __webpack_dev_server_client__. It is use SockJS.

[2020-01-22 21:52] manuelbieh opened #36 "Issues working with Webpack Dev Middleware in server rendering environments"
Hey,

I'm not sure if this has to do with this Webpack plugin or with Webpack itself, with Webpack Dev Middleware and in general, I'm not even sure if this makes sense at all.

I've just spent two hours to get this really great plugin working in a [custom Server Side Rendering](https://github.com/manuelbieh/react-ssr-setup) environment that's currently using Webpack Dev Middleware (WDM) as Webpack

[2020-01-23 16:38] Ephem commented on #36
@manuelbieh I'm also interested in this, but don't have time to dig into your project in detail (and am no expert on `react-refresh-webpack-plugin` either), so I thought I'd ask something that got me curious. 😄

The implementations I've seen for HMR/Refresh with SSR comes down to only using it for the client, and having other solutions for the server (such as the `delete require.cache[...]` on eve

[2020-01-23 17:07] manuelbieh commented on #36
Same here. No time. Yesterday it was a "let's see how far I can get within a 2 hours timebox" kind of thing.

The line you linked to, yes, I'm currently using the same babel config to transpile both the client and the server build. I was also thinking about splitting it up and use different configs for both builds but that was a task that would have taken too long to fit into my timebox 😉

I will

[2020-01-29 22:20] mattfwood commented on #1
Really appreciate the work you're doing here and looking forward to using this.

I was looking at #36 and was also wondering if things like server-side rendering support will be included in this becoming officially "fast refresh" capable?

I'd be happy to help with this, so far I've been trying to use this with [Next.js](https://github.com/zeit/next.js) but after trying to configure it for a few h

[2020-01-30 03:38] jayenashar opened #38 "Aborted because <file> is not accepted"
Sorry I'm not sure where to turn to for help on this one.  I'm pretty sure I've got the plugin registered properly, but fast refresh isn't working for most files.  Also not sure what info you need and I can't give you access to the whole project.

Here is an example error:

[code]

I added some debugging to `src/runtime/RefreshModuleRuntime.js` and I can see that `isReactRefreshBoundary` is `false

[2020-02-04 05:49] jayenashar commented on #38
tracked it down to https://github.com/facebook/react/issues/17281#issuecomment-581753769

[2020-02-04 05:49] #38 closed

[2020-02-05 18:50] jeswin opened #39 "Plugin requires naming of the component being exported"
This can be treated as a non-bug, but it might make sense to mention it somewhere in the documentation.

Fast refresh or reload does not work if a component is written without naming it (as in the example below).

[code]

But giving the component a name fixes the problem.

[code]

With the former, the entire page reloads saying Error: Aborted because filename.js is not accepted.

[2020-02-08 07:52] jayenashar commented on #39
hi @jeswin.  i discovered the same issue recently and tracked it down to code in react not this plugin.  i left a comment here: https://github.com/facebook/react/issues/17281#issuecomment-581753769

[2020-02-08 07:59] jeswin commented on #39
@jayenashar Good find. @pmmmwh I'll close this for now, but feel free to reopen if you feel this needs to be tracked here.

[2020-02-08 07:59] #39 closed

[2020-02-10 22:14] ianvieira commented on #36
I had the same problem with the `$RefreshSig$`, in the end, it was caused by the `cache-loader`. As my client build runs before the server one, my server was using the cached version to the client.

To avoid it, check if you have any cache that can be shared between the two compilers (as `cache-loader` or `babel-loader` cache).

[2020-02-11 21:26] ro-savage opened #40 "Allow custom ports for websockets"
We run webpack through a rails application and a gem called [webpacker](https://github.com/rails/webpacker)

We there for run our webserver at one port, but our dev server on another port.

Because the websocket just uses `window.localtion.port` (https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/master/src/runtime/createSocket.js#L26) it tries to connect to our web server port, not our w

[2020-02-16 06:32] ro-savage commented on #30
@carrickjason - Would be great if you could do a PR for this. We are running into the same issue.

[2020-02-20 19:32] atjeff commented on #34
@KurganskySergey Would you mind sharing more of your webpack / tsconfig? I am having trouble setting this up

[2020-02-21 06:59] KurganskySergey commented on #34
[code]

[code]

[2020-02-21 07:00] KurganskySergey commented on #34
in dev dependencies
"@babel/core": "7.8.4",
"babel-loader": "8.0.6",
"awesome-typescript-loader": "5.2.1",

[2020-02-21 15:51] IronSean commented on #28
We just hit a situation where the overlay makes our app unusable and prevents testing and development. I think maybe it shouldn't sorry about it at all, but even if you're unsure about that please merge the pr defaulting it to off while you decide.

[2020-02-21 15:53] IronSean commented on #28
@pmmmwh ^^

[2020-02-21 20:35] pmmmwh commented on #34
I'm more than happy to accept a PR to document this usage in the README.

[2020-02-21 20:36] pmmmwh commented on #35
Mind adding a bit more context - Webpack version, SockJS version, WDS version, etc?

[2020-02-21 20:41] pmmmwh commented on #30
Yes, it would help. [This implementation](https://github.com/Loonride/webpack-dev-server/blob/public-path-fix/client-src/default/utils/getUrlParts.js) could also help - it seems to fit our use cases well in terms of handling custom servers and also `_resourceQuery`.

[2020-02-21 20:43] pmmmwh commented on #28
Hi, sorry that I have been very busy lately. I'll take a look at it tomorrow and provide my thoughts on that.

[2020-02-21 20:46] pmmmwh commented on #1
For Next.js it's a bit more difficult because their Webpack setup is indeed very complicated. SSR support will probably be something that have to becase by case unfortunately - but Next's maintainers have shown interest in adding this, so hopefully after we tackle all the prerequisites it can be available to everyone in that ecosystem.

[2020-02-27 20:07] pmmmwh commented on #10
Support for Webpack Hot Middleware landed #23 !

[2020-02-29 00:33] charrondev commented on #7
I have it working perfectly in CRA as far as I know. I did the following:

- Start a CRA.
- Eject.
- Add the babel plugin.
- Add the webpack plugin w/ `disableRefreshCheck: true`
[code]
- Change the entry to use the default dev server instead of the CRA one.
[code]

I have no overlay issues or warnings. I haven't experienced the other issues described by @bugzpodder.

[2020-02-29 00:53] charrondev commented on #7
After playing with it a little bit, I did a quick fork of the `react-dev-utils/webpackHotDevClient`. This removes all the error & warning handling.

https://gist.github.com/charrondev/c06cd5a9616a1d1a0db45de6f10b592b#file-webpackhotdevclient-js

If this is used instead of the `react-dev-utils` one I find

- There are no duplicate errors.
- Errors properly dismiss after being fixed.

[2020-02-29 03:38] MOZGIII opened #42 "Extract runtime to a separate package and preprocess it with webpack for embedding"
Currently the runtime is not pre-processed, and this causes a lot of troubles when trying to use it with electron in a sandboxed environment.

[2020-03-01 03:05] MOZGIII opened #43 "404 with http://localhost:3000/sockjs-node/info?t=..."
This plugin produces requests to `http://localhost:3000/sockjs-node/info?t=...` for me (valid host/port!) that end up with 404.
It doesn't seem like my server serves this endpoint. I'm using `electron-forge`.

The actual reloading works.

Is there a way to stop those info requests for running, so they don't show up as errors? It seems like there should be a `noInfo` option for the socket...

[2020-03-01 04:37] pmmmwh commented on #43
Hi - I have no knowledge on `electron-forge` or `electron`-related development in general. It would be great if you can provide a reproduce-able example somehow so that I can investigate further. To my understanding, if the socket request is resulted in a `404`, the reloading wouldn't work properly on Webpack recompile, so I would also appreciate if you can further elaborate what you mean by "the

[2020-03-01 04:39] pmmmwh commented on #42
Is there any examples you can provide? All code in this repo is written as ES5-compliant as possible (and also in CommonJS), so I don't see it causing trouble in any environments unless you're expecting ES Modules. (I don't know a lot about `electron`)

[2020-03-01 07:57] ro-savage commented on #43
@pmmmwh - this is probably the same issue as  #40 and possibly #30

And despite this 404 error, react-refresh works as expected (at least as best I can tell). There is just a bunch of errors in the console.

[2020-03-01 21:15] MOZGIII commented on #42
To be more specific, there are numerous issues.

1. `ErrorOverlayEntry.js` imports `react-dev-utils/formatWebpackMessages`, and that, in turn, imports `chalks`. `chalks` then tries to access `process.env.*`, that is not accessible in electron render process unless the process "has permissions". I have no idea why does `ErrorOverlayEntry.js` ends up being imported in the browser context - might onl

[2020-03-02 15:48] blainekasten commented on #43
This is solved with #23 as the socket initialization is behind a flag now

[2020-03-02 15:49] blainekasten commented on #35
This was already fixed in `0.1.1` https://github.com/pmmmwh/react-refresh-webpack-plugin/pull/17

[2020-03-02 15:59] MOZGIII commented on #43
@blainekasten  `useLegacyWDSSockets` - tried enabling it, doesn't seem to help. Am I missing something?

[2020-03-02 16:04] MOZGIII commented on #43
Here are the screenshots of the networking panel to give you some idea on what's going on:
![image](https://user-images.githubusercontent.com/265507/75693612-3fa90200-5cb8-11ea-9618-5929ffee54f0.png)
![image](https://user-images.githubusercontent.com/265507/75693727-6ff0a080-5cb8-11ea-9991-3e8970e366a1.png)

And from console:
![image](https://user-images.githubusercontent.com/265507/75693863-ae865

[2020-03-02 18:57] pmmmwh commented on #42
This is great - I will work on fixing the issues this week.

[2020-03-02 18:59] pmmmwh commented on #35
Good catch! I will close this for now, if there is regression feel free to re-open this.

[2020-03-02 18:59] #35 closed

[2020-03-02 19:11] pmmmwh commented on #43
Just released the fix in `v0.2.0`, mind trying that and see if it helps? From what I see from their source code, `electron-forge` uses `webpack-hot-middleware` out of the box, and that is not officially supported properly until now.

Other than that, I think the underlying cause might be due to us not handling `__resourceQuery` right now (it's on my todo list). For WDS, webpack/webpack-dev-server#

[2020-03-02 21:32] ro-savage commented on #30
When I tried to access `__resourceQuery` inside `createSocket.js` it just comes back as null.
Using `document.currentScript` no port is provided (at least on our implementation of webpack using rail's webpacker).

I'd wouldn't mind trying to implement this, but at a bit of a loss. Unless we just allow custom ports.

[2020-03-03 06:47] rndm2 commented on #24
I am getting same error as author with version 0.2.0
I have added component that used in worker to babel ignore

[2020-03-03 15:31] MOZGIII commented on #43
This is right, here's a tracking issue at their repo: https://github.com/electron-userland/electron-forge/issues/1530.

Since I got feedback from both ends, I see the possibility of figuring out a proper solution together.

[2020-03-03 19:15] billyjanitsch opened #45 "WHM support breaks projects that do not have it installed"
After upgrading to 0.2.0, I noticed the following error:

[code]

I believe this is because webpack sees this `require` when bundling the injected runtime code:

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/0a6c1149469718bb4b289fc0d6f370db78f84294/src/runtime/WHMEventSource.js#L7

And therefore tries to resolve and bundle that module. This code path isn't taken when a WDS client has

[2020-03-03 20:24] blainekasten commented on #45
ahhh this is my bad. We did list this as a peerDependency. But that's probably not the right move.

My thinking is we should wrap this in a try/catch and bail if it's not installed.

[2020-03-03 21:09] billyjanitsch commented on #45
This would've been correct, but it was changed to an optional peer dependency in a3f792d0e3a47f4d05bf23ab7ae1c6714ec311e2:

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/0a6c1149469718bb4b289fc0d6f370db78f84294/package.json#L62-L64

Optional peer deps are meant for cases where the package can work even if they aren't installed. It sounds like that was the original intention here, but

[2020-03-04 02:27] pmmmwh commented on #45
Oops - my bad.

Regarding try catch - I thought dynamic requires are supported in Webpack?

[code]

[2020-03-04 02:29] pmmmwh commented on #24
Can you provide more info on your setup?

[2020-03-04 02:32] pmmmwh commented on #43
Did 0.2.0 work for you? It should not use SockJS if WHM is present, but I won't be able to confirm this until I setup a full electron dev environment this weekend.

[2020-03-04 02:38] rndm2 commented on #24
We are using worker-loader from webpack to load workers to DOM.
[code]
I don't know why, but only last of the components chain have this error.
I added this component to babel ignore.
[code]

The chain is `Worker -> renderMarkup -> nodesToString -> Provider -> Node Component -> Element Component`

It looks like problem caused by `react-refresh/babel`

[2020-03-04 18:05] billyjanitsch commented on #45
It seems that Webpack is smart enough to bundle that construct into something like this, if the required module doesn't exist at bundle time:

[code]

However it also emits a loud warning:

[code]

Do you see any disadvantage to the approach that I described of doing the try/catch in the plugin (and using it to decide which runtime to inject) rather than in the runtime?

[2020-03-05 20:00] pmmmwh commented on #45
Well, either we do it in runtime or we do it in the plugin, we will have to exhaustively detect all known/supported webpack hot integrations. This is both a good and a bad thing: the good part is that we are certain which one is being used currently, but the bad part is that if more than one exists we will have to think about how we should behave (especially when used within mono-repos). We could

[2020-03-06 18:33] MOZGIII commented on #43
0.2 yields interesting results. New odd errors. Definitely worth creation a sample repo with a minimal example to play with.

[2020-03-12 19:23] ro-savage commented on #45
@pmmmwh - Do you require a PR for this? This literally broke 0.2.0 entirely for a percentage of people.

[2020-03-12 23:50] mnemanja opened #47 "Styled-components refresh entire page"
Hi there,
Note:
I've created this issue in the **customize-cra-react-refresh** repo first and got referenced here.

There's a problem with fast-refresh and styled-components. It's making a full page reload. It works, however, when I make changes in a plain React component.

Reference issue:
https://github.com/esetnik/customize-cra-react-refresh/issues/7#issuecomment-597825755

[2020-03-14 07:39] pmmmwh commented on #45
I am working on it currently, but needs a bit more time to make sure everything works fine.

[2020-03-14 13:28] gaearon commented on #45
This makes most sense to me. Don't try to guess it on the client, but let the user pick one statically in config.

[2020-03-18 08:42] Lukavyi commented on #47
Have the same problem

[2020-03-18 11:16] gaearon commented on #47
Complete reproducing project pls.

[2020-03-18 18:57] justin808 opened #48 "Loadable Components?"
Has anybody tried this plugin with [loadable-components](https://loadable-components.com/)?

I'm guessing that there will be a similar issue:

* https://github.com/gaearon/react-hot-loader/issues/1361
* https://github.com/gregberge/loadable-components/issues/243

[2020-03-19 20:35] pmmmwh commented on #48
Loadable was never on my radar, but fast refresh works quite differently from RHL. Nonetheless, as Anton has stated in the linked issue, class-based components will lose state upon update (this is a known constraint for FR).

I am leaning towards that it will work though - however I currently don't have capabilities to test this out since I don't use loadable myself.

[2020-03-20 17:22] Lukavyi opened #50 "Could not find plugin "proposal-numeric-separator""
Error: [BABEL] /Users/taraslukavyi/Projects/traverz/traverz-admin/node_modules/@pmmmwh/react-refresh-webpack-plugin/src/runtime/BabelDetectComponent.js: Could not find plugin "proposal-numeric-separator". Ensure there is an entry in ./available-plugins.js for it. (While processing: "/Users/taraslukavyi/Projects/traverz/traverz-admin/node_modules/babel-preset-react-app/dependencies.js$0")

Can be r

[2020-03-20 18:26] eugene1g commented on #50
This is triggered by bigger issue in the babel/react ecosystem -> https://github.com/facebook/create-react-app/issues/8680

[2020-03-21 13:06] eugene1g commented on #50
Seems like this issue is now resolved - at least our build works again using today's versions of @babel dependencies.

[2020-03-21 14:34] #50 closed

[2020-03-23 21:09] mnemanja commented on #47
I stand corrected, the misbehaving is gone.
Everything runs smoothly now.

@Lukavyi, if you are still experiencing the problem please provide Dan with a reproducible project.

[2020-03-24 08:33] Lukavyi commented on #47
Same for me, it just randomly started working fine again

[2020-03-24 08:42] #47 closed

[2020-03-24 08:43] mnemanja commented on #47
If anyone else experiences the same behavior and finds this issue, provide here a reproduction and I'll reopen it.

[2020-03-24 14:20] PlayMa256 opened #51 "Add custom EventSource and web socket url"
I'm currently one of the maintainers on `webpack-plugin-serve` and we also want to support it (specially for one my use cases).

But due to how tangled to wds and wdm this plugin is, we would need support for custom message handlers (similar to https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/master/src/runtime/WHMEventSource.js) and a custom websocket properties!

Would these things be

[2020-03-27 19:38] #28 closed

[2020-03-28 07:21] fwh1990 opened #55 "Type Definition"
Hi, author. Could you please provide type definition file `index.d.ts` for people who are writing configuration with typescript

[2020-03-28 15:57] #34 closed

[2020-03-28 15:57] pmmmwh commented on #34
#46 has been merged

[2020-03-29 20:41] pmmmwh commented on #55
Since the project contains a lot of JSDoc, I think probably we can generate `.d.ts` files from them. I'll take a look at this in a few days.

[2020-03-29 20:42] pmmmwh commented on #51
Hi! I am working on an API to make this less painful. It will probably take me a few more days, but once that's ready I'll release a beta to gather feedback.

[2020-03-29 22:57] PlayMa256 commented on #51
Oh ok! Let me know please and thank you!

[2020-03-31 04:04] charrondev opened #56 "`options.overlay` set to false creates fatal error"
Having the option overlay set to false creates a fatal error in the runtime. This is due to the usage of WebpackProvidePlugin for the overlay.

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/c42efed652c45e7f991cb19789ad07a863a50537/src/index.js#L39

Webpack will try to load a module called `false` creating a fatal error on the import.

In order to resolve it might be easiest to create

[2020-03-31 14:59] avetisk commented on #56
Are you sure you're not giving `'false'` (string) instead of `false` (boolean)?

[2020-03-31 15:01] avetisk commented on #48
I'm using both together and haven't had any issues so far.

[2020-03-31 15:53] charrondev commented on #56
I'm giving `false`. Any falsy value causes the issue because of the code snippet I linked.

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/c42efed652c45e7f991cb19789ad07a863a50537/src/index.js#L39

Webpack will attempt to import whatever you give there into the scope of every module.

I doesn't matter if you give `null`, `false`, `undefined`, etc. If it's not a string path to an actua

[2020-03-31 16:54] avetisk commented on #56
Well, actually, I have another issue: if I give any falsy value, it just doesn't take it into account, so I can never switch off the overlay :/

I guess there really is some issue with the overlay option.

[2020-04-01 16:31] pmmmwh commented on #56
A patch is on its way. Thanks for the report.

[2020-04-01 19:45] #40 closed

[2020-04-01 22:07] pmmmwh commented on #42
Issue 1 fixed by #58

[2020-04-01 22:11] #56 closed

[2020-04-01 22:15] MOZGIII commented on #42
#58 is more of a workaround, however fundamentally the issue is not solved. This can happen again in the future, and there's nothing that would've prevented this.
While I'm grateful for the fix, I have some concerns about the reliability of the solution.

I can help with implementing the bundle split if needed.

[2020-04-01 22:17] pmmmwh commented on #15
#60 makes this obsolete because the checking have been removed.

[2020-04-01 22:17] #15 closed

[2020-04-01 22:20] pmmmwh commented on #24
I cannot comment on this without having a look at a reproducible example.

I'll close this for now, since #29 addressed the original issue.
If you still face this issue, please feel free to open another issue.

[2020-04-01 22:20] #24 closed

[2020-04-01 23:08] MOZGIII commented on #42
Same goes for #61.

@pmmmwh while the particular pain points I stumbled upon are fixed (kudos for that btw), I didn't hear your feedback on the subject of this issue - splitting the runtime (browser end) code and webpack (node end) code into separate packages.
I appreciate the time you spent on fixes, but I don't feel like I got a clear response.

Is your point that the code should be portable acr

[2020-04-01 23:13] MOZGIII commented on #42
Maybe I'm not clear.

This project contains the code that runs as part of the webpack build process and the code that runs as part of the compiled resulting bundle. The code that runs in the webpack injects the code that runs at "runtime" into the resulting bundle.
My proposal is to process the runtime part that's injected differently than the code that's being run as part of the webpack execution

[2020-04-02 18:19] pmmmwh commented on #42
At this stage I am against splitting the repo into separate packages, I don't think it is any better than the current directory split. Differential compilation on directories is also a way to achieve what you want.

This is not true - code is currently already split into directories.

I don't think this is true either, Node-related files (everything other than `runtime`) is never required in the b

[2020-04-02 21:50] avetisk opened #66 "webpack-hot-middleware is not optional"
Using `0.3.0-beta.1`

`Module not found: Error: Can't resolve 'webpack-hot-middleware/client'`

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/master/package.json#L62-L64

[2020-04-03 02:43] pmmmwh commented on #66
This is fixed in #64

[2020-04-07 21:10] #10 closed

[2020-04-07 21:10] #43 closed

[2020-04-07 21:10] #45 closed

[2020-04-07 21:10] #51 closed

[2020-04-07 21:10] #66 closed

[2020-04-07 21:11] pmmmwh commented on #7
facebook/create-react-app#8582 has been merged, but some API naming work still has to be done so I'll leave this open.

[2020-04-07 21:13] pmmmwh commented on #6
I don't think this is still valid (and I am unable to reproduce it), so I'll close this for now.

[2020-04-07 21:13] #6 closed

[2020-04-08 00:16] xandris opened #67 "React module detection doesn't work unless explicitly importing 'react'"
And not 'react/index.js' or whatever. That's fine, but what I'm doing within our codebase is:

1. Babel uses `__react_createElement__` as its JSX pragma and these get injected during `babel-loader`.
2. Webpack's `ProvidePlugin` sees an unbound `__react_createElement__` and imports `node_modules/react/index.js`. (I don't know when this happens; maybe during the module templating? It's after the loa

[2020-04-08 12:29] gaearon commented on #67
Yeah it's definitely not right to look for a `react` import. We're actually going to change the JSX transform to do the auto-importing so it won't' even exist in the source.

[2020-04-08 13:44] pmmmwh commented on #67
I think there are two issues here, the first related to how we should detect a file related to React, and the second related to whether this detection makes sense.

The check was added a while back when the actual hot runtime was not as reliable, but it is somewhat redundant now because there are runtime checks for refresh boundaries before anything is being marked as hot accepted.

I'm more incli

[2020-04-08 13:46] SimenB commented on #67
New transform: https://github.com/babel/babel/pull/11154

[2020-04-08 17:28] billyjanitsch opened #68 "overlay.sockIntegration does not receive 'wds' default"
The `0.3.0-beta.2` docs say that `options.overlay.sockIntegration` [defaults to `'wds'`](https://github.com/pmmmwh/react-refresh-webpack-plugin/tree/e93e3765fb83fababc7f52858b196ae3229e0676#optionsoverlaysockintegration), but I don't see any part of the codebase responsible for providing that default.

As a result, running the [webpack-dev-server example](https://github.com/pmmmwh/react-refresh-we

[2020-04-08 18:08] xandris commented on #67
I added pull request #69 to try removing the check :)

[2020-04-08 18:14] gaearon commented on #67
I think you need to transform all JS but be careful with any imports you inject (if you inject any) to avoid circular references. You definitely want to exclude `webpack/` built-in modules from transforming regardless.

[2020-04-08 18:20] xandris commented on #67
I can take a closer look at that. Does the refresh machinery need to transform code in node_modules to work properly?

[2020-04-08 18:50] gaearon commented on #67
It doesn't.

[2020-04-09 11:45] le0nik opened #70 "[0.3.0-beta.2]: ReferenceError: __react_refresh_error_overlay__ is not defined"
Error occurs on this line: https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/e93e3765fb83fababc7f52858b196ae3229e0676/src/runtime/refreshUtils.js#L116

Plugin is called this way:
[code]

Steps to reproduce:
1. Load the working app
2. Break it by using an undefined variable or in any other way
3. Revert the change in step 2.

[2020-04-09 20:12] pmmmwh commented on #68
Thanks for reporting, I deleted the line accidentally. A fix is on its way.

[2020-04-09 21:34] #68 closed

[2020-04-09 21:36] #70 closed

[2020-04-09 21:39] #67 closed

[2020-04-15 14:53] Letrab commented on #66
It is still required apparently, fresh installed this lib (beta3). But still I get the error message:

Failed to compile.
Module not found: Can't resolve 'webpack-hot-middleware/client' in '/Users/.../node_modules/@pmmmwh/react-refresh-webpack-plugin/src/runtime'
node_modules/@pmmmwh/react-refresh-webpack-plugin/src/runtime/WHMEventSource.js

[2020-04-17 05:37] #55 closed

[2020-04-19 22:05] gaearon opened #75 "Upstreaming the plugin into the React monorepo"
Webpack is the foundation of several projects representing significant chunks the React ecosystem. Today, these are CRA, Next, and Gatsby. Although there are likely more.

Lately, we've been working on React features that work in integration with the compilation toolchain. Such as some of the data fetching / code splitting experiments that are in a very early stage. For those, we'll need to provid

[2020-04-19 22:43] pmmmwh commented on #75
I think webpack/webpack#10715 is kinda blocking `invalidate` implementation (unless we're going full Webpack 5).

[2020-04-21 06:51] thoamsy commented on #7
I also use craco, but I am get the another error。The console says

    at Object../node_modules/events/events.js (events.js:447)
    at __webpack_require__ (bootstrap:806)
    at fn (bootstrap:167)
    at Object../node_modules/webpack/hot/emitter.js (emitter.js:1)
    at __webpack_require__ (bootstrap:806)

[2020-04-21 08:02] HugoGiraudel opened #77 "Incorrect ‘wdsSock*’ options validation"
Hello, and thank you so much for working on this. 🌟

I think I’ve noticed a small issue with the Sock options validation:

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/64a60d0d921a41f7423d745ccb0aae7347a263ec/src/options.json#L22-L24

Searching for these options in the codebase do not yield any result (except for the aforementioned snippet):
- [wdsSockPort](https://github.com/pmmmwh

[2020-04-22 23:23] shirakaba opened #79 "How to integrate this into non-browser environments?"
I tried integrating this for my custom React renderer which uses a JS environment more similar to Node (e.g. uses `global` rather than `window`). After I aliased `global` as `window`, it got stumped by the lack of an `addEventListener` API:

[code]

What are the browser dependencies, and can anything be done to decouple it from the browser?

[2020-04-23 08:15] bovas85 opened #80 "Error on app start while loading the page"
When I compile the app and open the localhost webpage I am welcomed by this error:
![image](https://user-images.githubusercontent.com/16958684/80075329-6f4eea80-8542-11ea-9ce9-91f00f37be24.png)

There's no error in the console or in the terminal, and when I close this I can work on the app and reload works fine. This is just happening on page load looks like.

I'm using the plugin new ReactRefresh

[2020-04-23 15:20] fwh1990 commented on #55
Unfortunately, you miss reference configuration in package.json
[code]

[2020-04-23 19:17] #77 closed

[2020-04-23 19:24] pmmmwh commented on #80
Hi! Is it possible for you to create a minimal reproducable repo so that I can track down the issue? It seems to me that your application somehow have an unhandled promise rejection on load, so it triggered the error overlay integration.

[2020-04-23 19:26] pmmmwh commented on #55
This has been fixed in beta 5.

[2020-04-23 19:29] pmmmwh commented on #7
Did you include the Babel plugin in your config? I won't be able to help unless there is a reproducible example.

[2020-04-23 19:38] pmmmwh commented on #79
As of now, the core of plugin depends only on the location API (`window.location`) for reload functionality (and socket routing, if you're using WDS). The error overlay integration further depends on `window.addEventListener` and `window.removeEventListener` (and DOM APIs for rendering), because we listens on the `error` and the `unhandledrejection` events.

I'm not sure about your use case, but i

[2020-04-23 20:13] bovas85 commented on #80
unlikely :( it's a corporate app and the codebase is relatively huge. Is there any other way to track this down? Otherwise how would I remove this overlay completely?

[2020-04-24 00:37] sophiebits opened #81 "Module becomes `undefined` after refresh due to cyclic dependencies"
I'm experiencing a bug where upon changing a file, one of my modules becomes `undefined` (causing part of the page to disappear).

I've mostly reduced my repro case. It seems related to cyclic dependencies. Repro steps:

1. Clone https://github.com/sophiebits/refresh-cycle-repro
2. Run `yarn` and `yarn start`, then visit http://localhost:7002/. You'll see the text "Hello: 100".
3. If you edit the

[2020-04-24 01:50] Timer commented on #81
@sophiebits thanks for this excellent reproduction!

I've added a test case for this to the Fast Refresh conformance suite. Can you please confirm it tests all the cases you've found buggy?

https://github.com/zeit/next.js/pull/12161

[2020-04-24 05:45] sophiebits commented on #81
@Timer I think you're the better judge of that! But it does appear that you successfully copied my code into a test case. 😅 Does the fact that it passes CI mean that this works correctly in @next/react-refresh-utils already?

[2020-04-24 07:12] thoamsy commented on #7
Thank you, I will try to provide a example for you.

[2020-04-24 08:25] thoamsy commented on #7
It ’s weird, my project will report an error, but when I wrote a minimal demo using craco, it worked very well.

[2020-04-24 10:56] pmmmwh commented on #81
@sophiebits Thanks for the reproduction! It seems that the latest version of the plugin also don't have this issue anymore, can you try it out and see if it fixes the issue for you too?

I'll further investigate this tonight.

[2020-04-24 16:35] sophiebits commented on #81
Sorry, I had tried on the latest stable but not the latest beta.

For my mini repro case, I did a bisect and it seems that c66bda1da8fe0a13dad7519ca85d8ef6fb8070f8 is the commit that fixed this, though I don't understand why.

But for my larger app, it still seems broken on 0.3.0-beta.5. 🙈 Will try to re-reduce when I have time but lmk if you have other ideas.

[2020-04-24 18:01] bugzpodder commented on #7
do you have an example where i can test as well?  i recently had tried to apply to a project but couldn't get it to work.

[2020-04-26 00:27] glekner opened #82 "First recompile triggers a full page reload"
Hello and thanks for an awesome plugin. it would be really useful for @openshift/console because of our massive websockets use (with this plugin there are no full page reloads so the websockets remain intact!)

1. we use Typescript -> `webpack.config.ts`
2. we use `ForkTsCheckerWebpackPlugin` for type checking.

I followed all suggested actions:
1. peer dependency `type-fest`
2. tried to learn fro

[2020-04-26 00:34] pmmmwh commented on #81
It has something to do with whether `SurveyOverview` is being detected as a React component, because that affects whether the module is included in the `react-refresh` life cycle.

I can confirm that if you rename `SurveyOverview` to `surveyOverview`, the issue persists (even in `@next/react-refresh-utils`). I'll have to look deeper and see which part of the integration is broken because it is mos

[2020-04-26 03:33] thoamsy commented on #7
This is [my demo](https://codesandbox.io/s/twilight-sound-ipp98) for test the hot reload, it works very well. But I can't bring it to my project.

[2020-04-26 06:13] pmmmwh commented on #79
@shirakaba
I've read a bit on the Node.js process API and it seems that the `uncaughtExceptionMonitor` event would cover what an error overlay requires. However, I'm not sure if that's something that is generally available for custom JS-based renderers. Would like your thoughts before I take any further action.

[2020-04-26 06:26] pmmmwh commented on #82
Do you see any thing printed in the console? I will see if it's because of `thread-loader`, but it also seems unlikely.

However, I think the `presets` key and the `ignore` key, as well as the other plugins are not needed because TypeScript should handle them (unless you need the extra transpilation).

[2020-04-26 08:04] bugzpodder commented on #7
@thoamsy craco didn't work for me (got $RefreshReg$ error), however I tried https://dutzi.party/react-fast-refresh/ and it worked better

[2020-04-26 10:02] pmmmwh commented on #80
If you're on the latest beta, you can set `overlay: false` to disable the overlay.

Which webpack dev integration are you using? Is it possible for you to provide a full console snapshot? If you don't mind tracking it down yourself, you can checkout the last few lines in `runtune/ErrorOverlayEntry.js` and line 37 in `runtime/errorEventHandlers.js`. I suspect some unhandled promise rejection occure

[2020-04-26 10:40] bovas85 commented on #80
It's a custom webpack 4 dev server with happypack, with hardly any way to customise it as it's abstracted into a package. Where would those files be?
How do I know if I'm on the beta?

[2020-04-26 10:45] pmmmwh commented on #80
I'll set up a `happypack` development environment and see if I can reproduce.

Inside `node_modules/@pmmmwh/react-refresh-webpack-plugin/src`.

Version `0.3.0-beta.5` is what you're looking for.

[2020-04-26 11:30] glekner commented on #82
ok I managed to preserve the log, looks like update fails! can you learn something from here?

<img width="618" alt="Screen Shot 2020-04-26 at 14 28 10" src="https://user-images.githubusercontent.com/24938324/80306193-64a68680-87ca-11ea-9c79-5daefe3d31dc.png">

[2020-04-26 11:33] pmmmwh commented on #7
@thoamsy @bugzpodder
I'm not sure what broke for you guys, but I am able to get the plugin working with `craco`. [Here](https://codesandbox.io/s/using-craco-ei2ek) is a CodeSandbox demonstrating this.

I won't be able to help without any more insights into the specific setups for your apps, or with more debugging information.

[2020-04-26 13:15] thoamsy commented on #7
@bugzpodder Do you mean that use `react-app-rewired` instead of `craco` can works well in your project?

[2020-04-26 13:18] thoamsy commented on #7
Thank for your advice, but I think our problem is that the dev mode can't run 😂。Maybe I should try to use another tool instead of `craco` to let my project works 🤔

[2020-04-26 16:05] bugzpodder commented on #7
@thoamsy yes, but react-app-rewired just modifies your webpack config like craco so you can get it to work with some modification I believe.

@pmmmwh that's because you are relying on codesandbox.  I am doing it locally on a mac.  Just goto your codesandbox, download it as ZIP, install it locally, add your plugin (0.3.0-beta.5) and yarn start it.  I always only used `yarn start` so whenDev didn't

[2020-04-26 23:44] glekner commented on #82
@pmmmwh I removed the extra plugins, presets.

Seems like its not the first reload, its certain files which requires a full reload:
<img width="772" alt="Screen Shot 2020-04-27 at 2 43 46" src="https://user-images.githubusercontent.com/24938324/80322966-f3e68500-8830-11ea-989f-7fdad298b588.png">

Any idea how can I fix them?

[2020-04-27 02:26] pmmmwh commented on #82
Are you on the latest beta or the latest stable?

This seems like the hot reload did not propagate correctly, it might have something to do with us being unable to detect exports correctly from `export *` statements ...

[2020-04-27 02:43] glekner commented on #82
Latest beta. Should I try stable ?

On Mon, 27 Apr 2020 at 5:26 Michael Mok <notifications@github.com> wrote:

This seems like the hot reload did not propagate correctly, it might have

--
*בברכה, *

*גלעד לקנר*

[2020-04-27 02:43] glekner commented on #82
Latest Beta. Should I try stable?

[2020-04-27 03:17] pmmmwh commented on #82
I think latest beta is better.

[2020-04-27 03:25] glekner commented on #82
@pmmmwh Could this doc help us in anyway? Looks like he faced the same problem

[2020-04-27 04:08] pmmmwh commented on #82
I have traced the whole propagation path and the source code, and the behaviour is technically ... correct at the moment. The reason why the hot update did not succeed is because we are unable to detect any files within that path that is safe to act as a "Refresh Boundary" and stop propagation. A valid refresh boundary is usually a file that contains only React-related exports (function components

[2020-04-27 08:46] pmmmwh commented on #7
@thoamsy @bugzpodder
So I did some debugging, it seems that the issue here is related to gsoft-inc/craco#36 and gsoft-inc/craco#49 .

The problem is that this plugin by default don't process files within `node_modules`, but `craco` will apply `react-refresh/babel` unconditionally to both instances of `babel-loader`, thus breaking all JS files within `node_modules`.

To solve this, other than reque

[2020-04-27 15:07] glekner commented on #82
I did split and also migrated `App` into a functional component.

Just so I understand, Class components are supported? just without preserving state?

I found a lot of `export *` in this huge project. so I guess that is the problem.

If I change those files to the following structure:
[code]

Will it work?

[2020-04-27 15:48] pmmmwh commented on #82
Yes, they will update properly via remount, and so will trigger life cycle methods.

It should work better.

[2020-04-27 16:45] glekner commented on #82
Ok, @pmmmwh , i'm in the process of removing `export *`
Theres a lot of work to be done. I managed to remove all of them when components are exported, but there are still some `export *` of selectors/types/constants, can those interfere as well?

**Is there a good way of debugging this?**
is there a good way to find the file that broke the process? one after one if there are many ofcourse.
<img wi

[2020-04-27 19:56] glekner commented on #82
Another note: upgrading webpack and WDS versions made the first reload refresh go away.
Now full reload happens only on specific files which is better. (guess its the `export *` thing.)

[2020-04-28 10:38] tlaak opened #83 "Incompatible with webpack 4.43.0"
Updating webpack from 4.42.1 to 4.43.0 seems to break the plugin. Downgrading back to 4.42.1 resolves the issue. I can't really understand why it fails the import.

My react-refresh-webpack-plugin version is 0.2.0

[code]

[2020-04-28 11:03] bovas85 commented on #80
I installed the beta and the overlay is gone, thanks :D

[2020-04-28 11:03] #80 closed

[2020-04-28 11:08] sibelius commented on #83
it is a problem in your node_modules, try to clean up, and install again

[2020-04-28 11:29] pmmmwh commented on #83
The error don't seems to be related to the plugin itself - can you try cleaning up `node_modules` and also lock files (`package-lock.json` or `yarn.lock`) and see if the issue resolves itself?

[2020-04-28 12:02] thoamsy commented on #7
@pmmmwh It works! Thank you for your effort to solve this problem, it's amazing!

[2020-04-28 12:10] pmmmwh commented on #82
Types won't, selectors/constants might.

Usually it is the first file in the path, because it should be where the update originated from. ("Aborted because *** is not accepted.")

[2020-04-28 12:32] tlaak commented on #83
Had to wipe out node_modules and yarn.lock entirely and reinstall to get rid of this error. Possibly a mismatch in webpack types as it got updated when building the lockfile but I don't have it as a direct dependency.

[2020-04-28 12:32] #83 closed

[2020-04-29 11:32] iassainov commented on #45
Still getting this issue while using webpack dev server 3.8.1.

Here are my dev-server options:
[code]

[2020-04-30 08:05] pmmmwh commented on #45
The fix is in `0.3.0` beta. Are you using the latest release (`0.2.0`) or the latest beta (`0.3.0-beta.5`)?

[2020-04-30 08:07] iassainov commented on #45
I was using 0.2.0. Thanks

[2020-05-03 17:55] lukevp commented on #75
I've been using Fast Refresh in RN since the beta and the workflow is amazing.  Hot Reloading is already a massive win for DX, and one of the reasons we're using React for most of our frontend going forward (desktop apps as well).  It would be great to have Fast Refresh natively supported in the toolchain of CRA without any customization.

[2020-05-03 20:02] gaearon commented on #75
That's the plan.

[2020-05-05 14:36] Thihup commented on #82
Is this supported?
I was trying this plugin but it wasn't keeping the state.
I have in a lot of places in my code, so I was wondering if there is any quick fix for it.

[code]

[2020-05-06 11:19] pmmmwh commented on #82
@Thihup No. [This tweet](https://twitter.com/dan_abramov/status/1255229440860262400) from Dan highlights the drawbacks for not giving components names.

But in a lower level, unnamed components will probably be impossible to support because we currently have no ways of statically detecting their status as something React-related.

[2020-05-09 07:06] BryceHQ opened #85 "Bug: function component is unmount and mount with old state when hmr"
React version: 16.13.1
react-refresh version: 0.8.1
react-refresh-webpack-plugin version: 0.3.0-beta.6

## Steps To Reproduce

1. run examples/webpack-dev-server
2. change file
 examples/webpack-dev-server/src/ClassDefault.js
 examples/webpack-dev-server/src/FunctionDefault.js
3. try hmr

Link to code example:
[code]
[code]

## The current behavior
class component will be unmount and mount with a

[2020-05-09 09:41] pmmmwh commented on #85
I thought preserving state for Function Components on Refresh is the expected and preferred behaviour?

Looping in @gaearon.

[2020-05-09 11:49] BryceHQ commented on #85
I think useEffect shouldn't trigger unmount If it is the expected.

[2020-05-09 14:54] gaearon commented on #85
The current behavior is correct. The state is preserved, but effects re-run.

Try to stop thinking about effects as "mount" and "unmount". This isn't the right mental model for them. Effects are more about "synchronizing some values with some side effect". In that sense, it makes sense that we want to resynchronize them if the code changes.

[2020-05-09 17:38] boojum opened #86 "Regression: webpack-hot-middleware is not optional #66"
Using `0.2.0`:

[code]

[2020-05-09 18:37] pmmmwh commented on #86
The fix is in `0.3.0`.

[2020-05-09 18:37] #86 closed

[2020-05-09 20:55] bugzpodder opened #87 "this plugin is not compatible with webpack-dev-server --inline"
I think if you do webpack-dev-server --inline it breaks this plugin.  Took me a long time to figure out, I think it should be mentioned in the README.

[2020-05-09 22:34] bugzpodder commented on #87
Cannot repo in the examples directory from this package, closing.

[2020-05-09 22:34] #87 closed

[2020-05-10 14:53] BryceHQ commented on #85
Ok. Thank you.
But I am still confused about Class Component has the different behavior.

[2020-05-10 15:08] pmmmwh commented on #87
How did it break for you to be exact?

[2020-05-10 15:10] pmmmwh commented on #85
React Refresh won't preserve state for hot-reloaded class components, because it requires some hacks and are prone to be inconsistent.

[2020-05-10 17:31] bugzpodder commented on #87
It reloads the page instead of fast-refresh the content.  Taking it out apparently make everything work.  not sure why.

[2020-05-10 18:20] pmmmwh commented on #87
To be fair, I'm not sure why it broke for you - `inline` mode is by default on (see the [docs](https://webpack.js.org/configuration/dev-server/#devserverinline))

[2020-05-11 02:33] BryceHQ commented on #85
All right, I know that. But it's kind of werid. >_<

[2020-05-11 13:28] Ephem commented on #36
This was solved by the [v0.3 release](https://github.com/pmmmwh/react-refresh-webpack-plugin/releases/tag/v0.3.0) for me.

I use dev- and hot-middleware in a custom SSR-setup which previously did not work, but by following the Readme and using this config everything now works out of the box:

[code]

[2020-05-12 04:50] michaelgmiller1 opened #88 "Multiple entry points not working correctly"
Our team has a config with the form:

[code]

We were very excited to try out `react-refresh-webpack-plugin`, but unfortunately, could not get it working!

Through a process of trial and error, I removed `entry2`, and it started working. I think this is due to the logic in `injectRefreshEntry`, which would double-append react refresh into both entries. Is this intentional behavior?

Thanks!
Mike

[2020-05-12 15:43] michaelgmiller1 commented on #88
This is easy to reproduce with the following one-line change to the webpack-dev-server example:

[code]

[2020-05-12 16:08] pmmmwh commented on #88
It is intended - there is no way we can control the execution order of multiple entry points. I would love to help, but I cannot comment on your specific case unless I have more context.

This is not necessarily how multi-entry should be used to my understanding. If you're doing a single page app, you should use a single entry point and use `optimization.splitChunks` instead.

Referencing the Webp

[2020-05-12 16:10] #85 closed

[2020-05-12 16:31] michaelgmiller1 commented on #88
Our use case is that we load Sentry (a JS error tracking framework) via a separate bundle. If we had the ability to exclude strings from being injected, it would solve our issue.

Would you be OK with a pull request adding a new option to disable entries `ignoreEntryList`?

[2020-05-12 16:34] gaearon commented on #88
What is the root of the actual issue? Why is it bad (from one point of view) or necessary (from another point of view) to inject it in all entries?

Every options makes configuring it more error-prone. Can we figure out a reasonable default behaior?

[2020-05-12 17:06] michaelgmiller1 commented on #88
Not too sure what the root issue is.. the runtime looks like it just calls `Refresh.register` in `react-refresh/runtime'. @pmmmwh do you have any ideas about why double injecting would break? or any other preferred solutions?

[2020-05-12 17:11] pmmmwh commented on #88
In my preliminary tests it seems that the `module.hot.accept` handlers were not handled correctly across entries. I'll have to dig deeper to see which part of the link is broken though, so this might end up being non-fixable if we keep the current behaviour.

The main issue with multiple entries is that there's no deterministic way for us to ensure that code will be executed in a specific order. F

[2020-05-12 17:41] gaearon commented on #88
Why does including the runtime multiple times cause a problem? Can we simply make its second execution a no-op? i.e. it would not override any globals and would not do any side effects if `$RefreshReg$` is already set up.

[2020-05-12 19:54] sokra commented on #88
You can use multiple entry points on a single page, but make sure to use `optimization.runtimeChunk: "single"`. This makes sure you only have a single runtime (with module cache) and modules are not instantiated twice.

Webpack will also add the ability to create entry points that are children of other entries with `dependOn`.

Anyway: Use a single webpack runtime per html page.

[2020-05-12 20:01] sokra commented on #88
I think it would be the best to avoid using globals and instead plugin into the parser to rewrite `$RefreshSig$` etc to be local to the bundle/runtime. Otherwise you run into problems when using multiple webpack builds on a page, e.g. with microfrontends and module federation. Globals are bad anyway.

The webpack ApiPlugin has examples how to rewrite in the parser. It need to be rewritten e.g. to

[2020-05-13 11:37] kelly-tock commented on #7
Is this released already with CRA? I don’t see the env variable mentioned in the PR in the documentation

[2020-05-13 15:29] deftomat commented on #7
@kelly-tock Yes, it is. Use `FAST_REFRESH` env variable.

[2020-05-13 15:31] gaearon commented on #7
Note there are some pending fixes that haven't made into CRA version yet.

[2020-05-13 17:41] pmmmwh commented on #7
CRA haven't had a release after the PR was merged, so it's not out yet.

[2020-05-13 17:51] kelly-tock commented on #7
@pmmmwh that's exactly what I was asking. thanks!

[2020-05-14 17:19] michaelgmiller1 commented on #88
@pmmmwh Do you think this will be straightforward to implement? We can workaround on our side, debating whether we should do the workaround, or wait for an update on the plugin.

No worries either way! Just want to figure out what works best on our side.

[2020-05-14 17:36] mgh opened #90 "ErrorStackParser.parse can throw an error"
This line can throw, which causes an infinite set of errors.

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/master/src/overlay/components/RuntimeErrorStack.js#L31

Caused by this line in the library https://github.com/stacktracejs/error-stack-parser/blob/master/error-stack-parser.js#L35

Not sure if this is helpful, but I have an error from the Chrome browser when a video is paused.

[2020-05-14 18:08] enzy opened #92 "ReferenceError: $RefreshSig$ is not defined while running with webpack-dev-server"
Our webpack configuration matches the readme. No other options passed to the plugin. The main difference is devServer `writeToDisk: true` option as we have a PHP backend which servers builded files. Single file entry.

[code]

When we run `npm run dev-server`, the compilation step finishes without a problem:

But we face the fatal error in a browser afterwards:

[code]

And it looks like `ReactRef

[2020-05-14 18:16] michaelgmiller1 commented on #92
The fix for https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/88 might address this (not 100% sure, but it's possible)

[2020-05-15 00:44] pmmmwh commented on #88
It will probably take some time (few days to 1-2 weeks) because the fix Tobias suggested will require some work to properly wire up Webpack parser hooks. If you have a work-around, feel free to do so.

[2020-05-15 00:48] pmmmwh commented on #92
My guess is that you've included the `react-refresh/babel` plugin to process `node_modules`. This will break because some code (as used by Webpack and WDS) will inevitably run before the plugin.

[2020-05-15 06:57] enzy commented on #92
Indeed. What a great guess! The cause was missing `exclude: /node_modules/` in js/ts loaders with `babel-loader`.

Thanks a lot, I was stuck on this for so long 🙏

[2020-05-15 06:57] #92 closed

[2020-05-15 12:08] pmmmwh commented on #90
Good catch, thanks for the PR.

[2020-05-15 16:55] michaelgmiller1 commented on #88
we'll actually probably hold off until this issue is fixed! let me know if I can do anything to help.

[2020-05-19 20:14] bugzpodder opened #95 "Cannot install 0.4.0-beta.0 with yarn v2"
Not sure what happened between the builds, but the next version stopped working with yarn v2 (berry).

`yarn policies set-version berry` to change yarn version

It seem to be a new post_install command in the build?

The log says:
[code]

[code]

[2020-05-19 20:33] bugzpodder commented on #95
Got it to work with   the following entry in package.json:
[code]
seems to work now.

[2020-05-19 20:33] #95 closed

[2020-05-19 21:00] pmmmwh commented on #88
@sokra
Is there a proper way to inject an external dependency to Webpack's require function (i.e. `__webpack_require__`)? The main issue blocking me using parser rewrites instead of globals is that `$RefreshSig$` is an external function (`createSignatureFunctionForTransform` from `react-refresh/runtime`) but I need that in global scope (during initialization in `MainTemplate`). I think even the im

[2020-05-20 00:27] pmmmwh commented on #95
Thanks for reporting! #97 will fix this - once tests pass I will release `0.4.0-beta.1`.

[2020-05-20 06:43] #90 closed

[2020-05-20 07:26] sokra commented on #88
Try to place only `__webpack_require__.$Refresh = {}` in the webpack runtime and lazy initialize `__webpack_require__.$Refresh.Runtime` and set `__webpack_require__.$Refresh.Sig` in the module code.

It need to be an extra object as `__webpack_require__` is different for each module with HMR and properties are copied.

You can't access modules in the runtime since they may not be loaded at this po

[2020-05-23 01:56] samcooke98 commented on #27
I also got `trimRight` errors. I found that it was caused by `createRefreshTemplate` failing to find the string in the following `find` constraint: https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/573580919c3f98e2ad6e6313336d91ad2b1eb9af/src/helpers/createRefreshTemplate.js#L47-L49

`find` would then return -1, causing issues.

The following patch made things seem to work:
[code]

[2020-05-25 14:56] renchap opened #99 "Whole page is reloaded when the root export is an HOC"
All my root components are looking like this:

[code]

When I make a change in the `Page` Component and save the file, the whole page is reloaded. It changing a component used in this page, hot reloading works fine.
If I am not using an HOC as the root export, it also works fine.

I am not sure if there is a way to correctly manage this case, but it would be handy!

[2020-05-26 04:40] iiroj commented on #88
I'm also having trouble with this. In my case, this plugin inserts itself into the polyfill bundle, breaking IE 11 because it's using [URLSearchParams](https://caniuse.com/#feat=urlsearchparams) internally (which is not yet defined).

Would it be possible to expose something like `@pmmmwh/react-refresh-webpack-plugin/runtime` so that it could be manually added where ever?

[2020-05-26 14:21] dangreen commented on #79
@pmmmwh in dev environment with ssr this plugin cause the error `ReferenceError: window is not defined`

[2020-05-26 16:40] pmmmwh commented on #88
Hmm ... The call to `URLSearchParams` should be called only after your code loads. Is it possible to create a minimal reproduction of what's happening?

The difficult part is that there's both code to run **BEFORE** any user code, and **AFTER** all user code. The runtime, as of it's current state, is also quite coupled with the `window` global and some other injected dependencies (via the plugin).

[2020-05-26 16:42] pmmmwh commented on #79
Can you provide more background information, like where the error originates, whether the plugin is applied for the server bundle, etc.?

Also, see #36 for some solutions others have figured out.

[2020-05-26 16:47] pmmmwh commented on #99
Is it possible for you to provide a reproducible example for me to look at?

Also - what version of `react-refresh` and the plugin are you on? How is the HOC implemented? (There are some quirks: facebook/react#17142)

[2020-05-26 18:05] renchap commented on #99
Nice catch, this was exactly the problem! I created a `wrappedComponent` in my HOC, when switching it to `WrappedComponent` fast refresh works.
I am closing this issue, if you think this needs to be specified somewhere (or logged as a warning? not sure if possible?) please re-open it.

[2020-05-26 18:05] #99 closed

[2020-05-26 18:33] iiroj commented on #88
Thanks for the reply @pmmmwh. I'll get back to you if I can better isolate the issue (or if I manage to find it's because of something else).

[2020-05-27 04:21] pmmmwh commented on #99
Probably this should be added to the README alongside the rationale behind this, or maybe even in the React docs. I'll followup.

Not entirely possible, especially detection of JSX is not as straight forward as it seems. Documentation should be good for now.

[2020-05-28 17:46] shirakaba commented on #79
@pmmmwh Sorry for disappearing! Another project has taken up my full attention for the last month, but it should be finished in a few weeks, after which time I can dedicate more attention back to this.

Thank you very much for responding with details. I'll answer a few things now:

Do you mean specifically just `window.location.reload()`, or a few other things as well? I'd have to research what th

[2020-05-28 18:20] pmmmwh commented on #79
Specifically just `window.location.reload()` - that's the "de-facto" way of bailing out of HMR updates in the Webpack ecosystem for the browser. I'm not sure if this concept translates to the native world though.

In the next version I should be able to not bail out by default (in fact, there's only a single call to `window.location.reload()` now left in the code base).

Yup. I think for your case

[2020-05-28 22:24] shirakaba commented on #79
When you say "bailing out of HMR updates", are you referring to the case when a hot update cannot practically be applied, so the best response available is to restart the app afresh and load in the latest bundle? Thus, on web, `window.location.reload()` fits that role?

If so, I'll have to ask what the closest equivalent is to that in NativeScript. In React Native, it's surely the action that happ

[2020-05-29 09:18] pmmmwh commented on #79
After #104 lands the call to `window.location.reload()` will be eliminated altogether, so you can skip these steps too.

You can write it as if it is in a `NativeScript` environment - the implementation will be injected via `webpack.ProvidePlugin` in the resulted bundle so it will only run with the bundle.

[2020-05-29 09:25] shirakaba commented on #79
That's brilliant! Thanks so much 🙇‍♂️

That seems like magic! Will I even be able to make imports (I'll need to build the UI using imports such as `import { FlexboxLayout } from "@nativescript/core";`) in my implementation of ErrorOverlay? Just that I haven't used ProvidePlugin before.

[2020-05-29 09:41] pmmmwh commented on #79
Yes, it should "just-work" like any other code you write.

[2020-05-29 10:37] shirakaba commented on #79
@pmmmwh Awesome, sounds like all the ingredients are there for it to work. It might be a few weekends before I'm free to try integrating it again (or maybe I'll even find a moment this weekend), but I'll certainly report back once I've tried! Thanks for your thorough response and timely refactors!

[2020-06-01 15:21] glekner opened #105 "iframe errors"
![image](https://user-images.githubusercontent.com/24938324/83424106-a31c0a80-a434-11ea-8f98-1977ac09e248.png)

These errors started after adding react-refresh and babel (typescript). any idea what causes this?

[2020-06-04 06:04] pmmmwh commented on #105
This is due to SockJS, used in `webpack-dev-server`.

If you are not using WDS, you should probably configure the socket integration as stated in the README.

If you're using WDS, this issue is likely happening because a proper WebSocket implementation was not detected by SockJS in the browser, and thus it is falling back to using an `iframe`-based Cross Origin solution - which will get blocked by

[2020-06-04 06:05] pmmmwh commented on #105
I'll be closing this because this is unrelated to the plugin.

[2020-06-04 06:05] #105 closed

[2020-06-05 16:36] bugzpodder opened #107 "1.0 release?"
I've been using this plugin for a while and the experience has been pretty seamless, super awesome.  Occasional breakages (on stale page I sometimes see a chunk not getting loaded) are solved by a full page reload.   I'm curious what is the plan for a 1.0 release in terms of what else is missing (I scanned the issues and didn't see anything especially outstanding), it is more difficult to get buy-

[2020-06-07 18:13] shirakaba commented on #79
@pmmmwh I've come back to this and have installed version `0.4.0-beta.2`. Here's the error I get upon my Webpack build:

[code]

Here's my webpack config, on the branch `fast-refresh`: [`react-nativescript.webpack.config.js`](https://github.com/shirakaba/react-nativescript/blob/fast-refresh/sample/react-nativescript.webpack.config.js). It inherits from (and overrides) this [`webpack.config.js`](ht

[2020-06-07 18:23] shirakaba commented on #79
Update: by adding these aliases with DefinePlugin, I was able to squash that error. The app now builds and runs! 🥳

[code]

However, even though changes are detected and updates applied (I believe by `HotModuleReplacementPlugin`), the component on-screen does not visually update.

[code]

[2020-06-07 18:31] shirakaba commented on #79
Have an idea. Just checking...

[2020-06-07 18:44] shirakaba commented on #79
No luck. I think my Webpack config has some issues not relating to Fast Refresh that I need to iron out first. I'll look into those first.

[2020-06-08 06:29] #88 closed

[2020-06-08 06:30] pmmmwh commented on #36
This should be resolved by #102.

[2020-06-08 06:30] #36 closed

[2020-06-08 06:38] pmmmwh commented on #79
Can you try `0.4.0-beta.3`? It contains the fixes in #102 and should remove the need for you to mock `window` as `global.global`. I would assume that `$RefreshReg$` and `$RefreshSig$` calls aren't inferred correctly when mocking global scope.

[2020-06-08 06:43] pmmmwh commented on #107
There' some stuff that I would love to iron out before an official 1.0 release:

- Revisit socket URL detection for WDS and fix #30: this only impacts WDS integration but since CRA uses WDS it is something I want to handle
- Fix #81
- Webpack 5 support #27: This is important for libraries adopting Webpack 5, like Next.js
- Possibly even address #75

[2020-06-08 06:56] pmmmwh commented on #31
I wasn't able to get my hands on any versions of chrome older than 2018, and I cannot reproduce this issue in any versions that I've tried.

I'll close this for now - I suspect it have something to do with the use of `Object.freeze` in `module.exports` and source map parsing failing to handle the immutable object.

[2020-06-08 06:56] #31 closed

[2020-06-08 10:34] pmmmwh commented on #81
I have further investigated the issue and it seems that even without the plugin the issue still persists (given that we don't accept `SurveyOverview`, and accepts `Milestones`, `NudgeOverview` and `App` - as aligned with their corresponding Refresh Boundary status).

Tbh I'm not sure if we're hitting the limit of Webpack here, it seems to me that the issue only exists when there' both cyclic impor

[2020-06-08 16:37] bugzpodder commented on #107
Awesome, thanks for the awesome work, really appreciate it!  And thanks for calling out important issues on Twitter!

[2020-06-09 22:47] jwaldrip opened #111 "Issues with typescript and export default as"
I am having issues with exports when the plugin is enabled. No issue when the plugin is disabled.

[code]

[2020-06-10 11:35] pmmmwh commented on #111
Is it possible to provide a reproducible example?

[2020-06-10 13:11] dmeij opened #112 "State isn't preserved"
I have made a demo site with the following config:

[code]

The port and host is dummy in above example. I have taken the files from the example dir https://github.com/pmmmwh/react-refresh-webpack-plugin/tree/master/examples/webpack-dev-server. When I change a file like ClassNamed.js, the output in the browser is refreshed without a page refresh. But the state is cleared, I think because the const

[2020-06-10 23:52] pmmmwh commented on #112
Class Components don't preserve state. This is intended behaviour.

[2020-06-10 23:52] #112 closed

[2020-06-11 07:11] dmeij commented on #112
That's a shame, then i'm forced to use hot reloading :(. Why is this the intended behaviour? In React Native Fast Refresh does preserve state for Class Components.

[2020-06-11 08:20] pmmmwh commented on #112
Class components are always remounted, and thus they can never preserve state. Fast refresh is implemented differently to `react-hot-loader`, and the fundamental difference means that some stuff people expect from RHL might not hold. This is one example of such things.

I'm assuming that you're referring to `react-hot-loader`.

There is a difference between "it is possible" and "it is reliable", a

[2020-06-11 09:58] dmeij commented on #112
Yes thanks for the clarification. I have a complete application based on Class Components, it's not an option to convert it to Function Components. Developing with Class Components and using Fast Refresh would seem frustrating to me, because you won't be able to preserve the state :(. I understand this will be the future, but I can't convert the current application to Function components, would ta

[2020-06-11 10:26] pmmmwh commented on #48
I have verified that it works with loadable, and will persist state given that it is wrapping a function component.

[2020-06-11 10:26] #48 closed

[2020-06-11 11:44] dmeij commented on #112
One more question though, hope you know an answer since you're the fast refresh master :P. fast refresh always remounts class components and always triggers the useEffect for function components. When the component does an API call to load data, I would like it to be called only once and not at every fast refresh. Is this possible?

[2020-06-11 13:47] imbaniac opened #113 "Why did you rename master to main?"
In the context of git, the word "master" is not used in the same way as "master/slave". I've never known about branches referred to as "slaves" or anything similar.

On existing projects, consider the global effort to change from origin/master to origin/main. The cost of being different than git convention and every book, tutorial, and blog post. Is the cost of change and being different worth it?

[2020-06-11 16:42] IJMacD commented on #113
I think it's just a bad English/mis-translation problem.

I'm guessing @pmmmwh assumed 'master' meant like 主 in 奴隸主 (slave owner/master).

Actually a better translation would be 師 like 功夫大師 (Kung Fu master). The specimen copies are made from.

[2020-06-11 17:54] rubyFeedback commented on #113
I am not so sure. See rubocop where some people tried to insinuate that the name is a problem due to the US-centric protest movement against cop violence. So perhaps that is a similar situation for the protest movement in Hong Kong.

Personally I think it is a very bad idea to leverage political views, even if I may share them, through software.

[2020-06-11 18:29] jchristin commented on #113
This is not what Bastien Nocera try to demonstrate [here](https://mail.gnome.org/archives/desktop-devel-list/2019-May/msg00066.html).

[2020-06-11 22:05] shirakaba commented on #79
@pmmmwh Sorry for the delay.

I've just tried with `0.4.0-beta.3`, removing my mocking of `window` as `global.global`. It's far happier now (the Webpack build on each hot update is far faster, where before it looked like it was rebuilding the whole app or something).

However, saved changes to my app code are still not resulting in visual changes in the app.

Here is my Webpack output, which looks

[2020-06-11 23:16] shirakaba commented on #79
Here is also a quick printout of what the webpack config resolves to (as of commit [`bedccc2`](https://github.com/shirakaba/react-nativescript/tree/bedccc206a6353fd9b0550520e77514ad50de597), which at this moment is the latest commit on the [`fast-refresh` branch](https://github.com/shirakaba/react-nativescript/tree/fast-refresh)), with the following quick-and-dirty logging approach:

[code]

[code

[2020-06-11 23:28] Hanse00 commented on #113
The primary branch in git can have any name by design.

Forcing people out of the habit to assume this branch would be called master, is a valuable lesson.

[2020-06-12 05:08] pmmmwh commented on #112
It is not possible - see the [React Native Docs](https://reactnative.dev/docs/fast-refresh#fast-refresh-and-hooks) for a more thorough explanation.

[2020-06-12 06:17] pmmmwh commented on #113
Well, there are a lot of reasons, with the main reason being that I am empathetic to what is happening out there and I agree with many other people that we should re-examine our choice of words to make the industry more inclusive.

Maybe you can read [this thread](https://twitter.com/mislav/status/1270388510684598272) for more background and why this matters.

As some have already mentioned above

[2020-06-12 06:17] #113 closed

[2020-06-12 09:45] shirakaba commented on #79
Of interest:

If I insert, and save, a `console.log("test");` statement into the `render` method of any React component, it does not run upon the HMR update being applied.

However, if I insert and save that same statement into the main body of the `.tsx` file, it does run.

So HMR in general is working; it just seems that React components aren't applying those HMR updates.

[2020-06-12 10:39] XANi commented on #113
@pmmmwh Do take into consideration that tools generally break if there is no master branch. Like you're going to get seemingly random branch checked out (from my testing it *seems* like the lastest one but don't take my word on that) when cloning the repo

[2020-06-12 14:17] JacksonBailey commented on #113
I believe the checked out branch is the remote repo's `HEAD` branch. Run `git ls-remote`. In GitHub (and generally most git hosts I've worked with) `HEAD` is the repository's "default branch". See [this](https://help.github.com/en/github/administering-a-repository/setting-the-default-branch) for more info, specifically the "warning" where it mentions `git ls-remote`.

[2020-06-12 14:42] nanonyme commented on #113
Just my two cents regarding how to interpret master as to git: consider that "to branch" means semantically "to make a derived copy" in context of git. It seems strange to me you feel "master" could not possibly refer to master copy. You are obviously allowed to call master branch whatever you want as long as it is configured to be the default branch in the project. Otherwise confusion will insue.

[2020-06-12 14:52] daneren2005 commented on #113
People shouldn't be relying on master being the default branch. But I agree with above that it's pretty obvious that master is not meant in terms of master/slave at all. This just seems like more pointless virtue signalling everyone has been doing lately. But hey, your project, your choice.

[2020-06-12 14:55] Nowadays commented on #113
Mixing git with what's hapenning in the world is utterly stupid to say the least, and here I always thought, we developers, were supposed to be smart to do the kind of job we do.
You're using twitter as a source of information, why am I supprised.
I've seen people kneeling and kissing other people' feet, now that, the world is fked up, and you're a contributor of it being more fked up every day.

[2020-06-12 15:41] Israel-Laguan commented on #113
The best solution from my point of view for other people's repos that want to do something similar is create a `canary`, `prod` or whatever name you want to be deployment target (don't forget to change default in configuration), create a note in readme about the change (please make a separate article or blog entry, not explain all your reasons in the readme) and leave master branch to a cinder for

[2020-06-12 19:34] looked-at-me commented on #113
@pmmmwh

You are excluding beginners that may not be as familiar with the tools and what they do or how they work. You are putting up an extra barrier to entry for those without the knowledge required by not following an established standard.

The change you've made causes more exclusion than inclusion. Software development is already difficult enough, it doesn't need politics complicating it even

[2020-06-13 00:09] z000mer commented on #113
first of all, just wanted to say this is the most pointless rename of all time. just... y

lmao, what even is this condescending comment??
and how did op's projects manage to break from a branch rename? gotta be a pretty good programmer to achieve that

[2020-06-13 03:43] earksiinni commented on #82
@pmmmwh would you mind clarifying under which of these conditions will this library trigger a refresh?

1. An unnamed component that's mounted has had its code changed.
2. An unnamed component that's not mounted has had its code changed.
3. An unnamed component that's mounted hasn't had its code changed (and some other component's code has changed).
4. An unnamed component that's not mounted hasn'

[2020-06-13 03:50] earksiinni commented on #79
I came here from the internet while trying to get this plugin to work with SSR. For anyone else struggling to figure it out:

1. Install `0.4.0-beta.3` or above.
2. As of writing, you need to disable the overlay in your SSR build with `{ overlay: false }` in the plugin's options. It appears that https://github.com/pmmmwh/react-refresh-webpack-plugin/pull/102 didn't refactor references to `window`

[2020-06-13 05:23] medifle commented on #113
Do we have to change `master` degree to `main` degree in the future???

🤮

[2020-06-13 15:21] IJMacD commented on #113
I'd like to apologise for my earlier comment. Reading it back definitely makes me come off as a jerk.

As we were both in Hong Kong I thought an amusing example would reduce ambiguity since the word is obviously double loaded in English.

I made the comment before seeing all the press about this trend about renaming branches. I didn't seriously think anybody could mistake which definition of `mast

[2020-06-13 16:24] andrewtw commented on #113
TBH, "master" comes from latin "magister" that means "teacher".
The original meaning of it represents "chief" or "head".

Completely no idea why renaming such thing can show the support to diversity.

[2020-06-13 16:34] pmmmwh commented on #79
@shirakaba I think I've found the culprit.

`react-refresh` depends on developer tools integration, which needs to be manually injected via `injectIntoDevTools` from `react-reconciler`. `react-nativescript` doesn't do that yet, so all the `scheduleReactRefresh` calls from the plugin essentially become no-ops.

You'll have to somehow add this code snippet somewhere (presumably within the `start` fu

[2020-06-13 17:40] shirakaba commented on #79
@pmmmwh You're a genius!! It's working! 🤯🚀

I actually remember writing that mysterious line in a long time ago, to support the old React Devtools – but ended up taking it out, I believe because I was instructed that the new React Devtools didn't require it anymore. Incredible intuition, @pmmmwh and thank you so much!

Now for a stretch goal, I'm wondering how to get the Error Overlay working.

#

[2020-06-14 11:29] ohadschn commented on #113
This. A lot of the comments here are talking how developers, scripts, tools, and tutorials shouldn't assume `master` is the main branch. Technically, I suppose that is correct. However, in the **real world** developers, scripts, tools, and tutorials DO assume `master` is the default branch.

Such a change will 100% have real world consequences, and will most definitely break stuff for various peop

[2020-06-14 22:35] Akronae commented on #113
Wow.. So basically your trying to eradicate the use of the word "master" that makes me think of.. totalitarianism? ups

[2020-06-14 22:36] Akronae commented on #113
Wow.. So basically you're trying to eradicate the use of the word "master" that makes me think of.. totalitarianism? ups

[2020-06-14 23:07] Tapped commented on #113
The source for this movement is an email that assumes the meaning of master is the same as in Bitkeeper
https://mail.gnome.org/archives/desktop-devel-list/2019-May/msg00066.html

I've another Twitter source, who worked on git in 2005 (https://github.com/git/git/commits?author=pasky) who says https://twitter.com/xpasky/status/1271477451756056577?s=20. He likes this rename, but that seems to be for

[2020-06-14 23:11] noahsark769 commented on #113
Thanks for doing this, I appreciate your effort. For those looking for more research about this terminology, please check out https://tools.ietf.org/id/draft-knodel-terminology-00.html#rfc.section.1.1.1

[2020-06-14 23:28] Tapped commented on #113
@noahsark769 That's a draft, and there are probably reasons for it not being approved.

* Blacklist has a history and is not tied to racism at all (Sources: 1 & 2)
* The master-slave terminology would most of us agree is something we should stop doing. However we should not mix that case with usage of master in isolation. Git has no concept of slaves at all, and basing the movement on that one ema

[2020-06-14 23:35] noahsark769 commented on #113
The thing for me is, it doesn’t matter what the history of the term is, honestly. Words have context based on interpretation by the reader, not the original intention. Renames like this shouldn’t affect outside consumers, and the maintainer in this case is taking a small step towards inclusive language, regardless of any history of git branch naming, so I’m applauding for that here

Happy to consi

[2020-06-14 23:41] andrewtw commented on #113
```Master-Slave``` in this IETF document mainly refers to ```DNS```, and I agree with its explanation, and I do believe similar service, like ```redis``` or others can make a serious consideration for changing the name.

However, I don't think it applies to ```git``` context, as what I said, ```master``` itself comes from Latins and it means "head", "chief" or "teacher".

By default, ```master```

[2020-06-14 23:43] Tapped commented on #113
It's impossible to communicate if we are not agreeing on definitions. Every person has subjective interpretations of the world, but language is one of those concepts where we've tried to put words on those things so that we are able to understand each other. Even if your red color might be different than my red color. That's why we also have dicitonaries, so that we can share this truth together.

[2020-06-15 05:14] ghost opened #115 "Could you rename main to canary or other alternatives?"
The word main has a toxic history in asian cultures (you should know it too).
Please read the article here - https://www.nakasendoway.com/the-japanese-family-system/

Vercel (nextjs/now) use canary with their projects. I think that might be more appropriate change here.

Would you please consider the historical impact and change to canary?

[2020-06-15 05:25] pmmmwh commented on #79
Ahh! This is an undiscovered bug in the plugin. I'll fix it and release `0.4.0-beta.5`.

[2020-06-15 06:32] zisop16 commented on #115
good meme nobody cares

[2020-06-15 06:59] shengchalover commented on #113
It’s very refreshing to land here from a Twitter feed to see so many rational explanations as to why renaming these conventions (or at least this particular convention) is a BAD IDEA. It has nothing to do with inclusiveness. It’s pure ‘hype surfing’   that seems harmless from the point of view of many people who only see on the surface, yet it brings distraction to the industry and makes lives of

[2020-06-15 07:29] LukasSlouka commented on #113
Slavery is not even racially charged... Throughout the history, pretty much every race enslaved every race they came into contact with, mostly their own. People forget how common slavery was. Every larger culture had it. In ancient Rome people even volunteered into slavery to avoid taxes or homelessness.

What is worse is that there are real slaves today in Africa and Asia and nobody bats an eye,

[2020-06-15 07:39] Akronae commented on #113
True, and we should stop using words like "black" which by then could have a pejorative meaning when used for "black people". As this word once was used to look down on other human beings, let's banish it from our languages. That's smart. Instead of saying "I wear a black shirt", which is not very inclusive because once "black", in one of its several meanings, was used for discrimination, we shoul

[2020-06-15 08:28] WAUthethird commented on #113
I personally consider this to be a debilitating and pointless change. I feel there is absolutely no valid reason for it, and it causes more problems than it attempts to solve. Personal views are one thing, (I personally have no qualms about the intentions) but political correctness in a professional software environment is a bull in a china shop.

[2020-06-15 09:33] joarwilk commented on #113
Anyone arguing against this is on the wrong side of history.

Sure, it sucks in the short term. And yeah, its PC inclusion being forced into contexts which might not make sense for you.

But small changes add up over time. If you sit in a cushy, highly paid job with a stable social environment and complete segregation from the working and ethnically oppressed class, maybe you're not the one who sh

[2020-06-15 10:29] Tapped commented on #113
With this type of argumentation I can reverse it to; who are you to speak on behalf of others? Why should you gatekeep what is considered negative or positive on behalf of others? Do you have proof for anyone being negatively affected by the word "master" in the git context?

[2020-06-15 10:48] Akronae commented on #113
`"Do you have proof for anyone being negatively affected by the word "master" in the git context?"` Yeah he's Swedish it's well known that there are a lot of minorities there, he's really more qualified than us to speak about how minorities are affected. Damn.. who are we to speak of things we aren't even close of... 😕

Anyway so to follow this reasoning, if I say "I'm wearing a black shirt" does

[2020-06-15 10:49] andrewtw commented on #113
Your words totally hurt my feeling.

I'm from Taiwan (R.O.C), a country always being bullied by China (P.R.C), and we do lots of efforts to make society diverse and less discrimination, and we are even the first country allow gay marriage in Asia.

Our country sent military (my great grandpa was in it) and sacrificed themselves just to rescue hundreds of thousands European in South East Asia durin

[2020-06-15 11:19] ePztSe93QVzEPY6p commented on #113
Shame on TaiWan!
Disgusting! Go Hell!
No body likes you, Taiwan is always a part of China.

[2020-06-15 11:23] ppamorim commented on #113
@andrewtw So the comment has been deleted. Strange no? Maybe his selective commotion backfired.

[2020-06-15 12:29] pmmmwh commented on #115
I don't see any discussion about toxic history or the word `main` in the article.

I also don't know why you think I should have knowledge about that.

Well, if you can properly justify the decision with sources, I might consider.

But yea, posting an issue then deleting the account (`@blacklivesmatterplease`) - I'm not sure if you care about this either.

[2020-06-15 12:29] #115 closed

[2020-06-15 14:31] pmmmwh commented on #113
I have already explained my rationale behind the change, and I still stand by what I've said. It's absolutely fine for you to not agree with my decision, but I'm not reverting the change.

Yes, this change does not make slavery less of a problem in the real world.
If you do care, consider redirecting your time to support relevant organizations, instead of sitting here arguing about whether this ch

[2020-06-15 14:50] jbreckmckye opened #117 "On alternatives to 'master'"
**I am not interested in re-opening the question of whether the word 'master' is exclusionary / problematic**. But I do think it would be valuable to discuss exactly what synonym we'd like.

### I'm not sure about 'main'

Whilst there seems to be a burgeoning movement to use 'main', as a default across projects, I think this is mistaken:

1. In a lot of teams, the bulk of development is not actual

[2020-06-15 18:34] shirakaba commented on #79
@pmmmwh Thank you for the refactor and extra release!

By installing `0.4.0-beta.5`, the app survives startup and I can see `clearRuntimeErrors()` being called in the console!

[code]

[code]

[code]

However, I'm unsure whether any of the other functions are being used or not.

When I force a compile error by writing some invalid JSX, it's `babel-loader` that responds, rather than the error overl

[2020-06-15 19:00] shirakaba commented on #79
And a thought does occur: do I need to add a React Error Boundary before runtime and compile-time errors will be handled by the error overlay?

[2020-06-15 19:11] pmmmwh commented on #79
Yes.

- `ErrorOverlayEntry` don't have to export the functions, but have to wire them up to the actual error handlers.
- For runtime errors it would probably be something [like this](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/79#issuecomment-635516001).
- For compile errors I'm not sure if it's do-able, especially when `NativeScript` uses the Node.js IPC API to signal compile st

[2020-06-15 19:34] shirakaba commented on #79
Supporting compile errors may be beyond the effort I’d be happy to go to, then. Involves several areas of Node and Webpack crossover that I’m totally unfamiliar with. Can come back to it all much later if there’s ever sufficient demand, of course.

At the moment, the app crashes upon any runtime error. If I did support `handleRuntimeError()`, would it prevent my app crashing? Or just improve the p

[2020-06-15 19:50] MaxmaxmaximusGitHub opened #118 "Plugin not working, all page reloading"
Plugin not working, all page reloading

[2020-06-15 20:00] MaxmaxmaximusGitHub commented on #118
lol, i foget

[code]

[2020-06-15 20:00] #118 closed

[2020-06-16 00:45] InfinitySamurai commented on #117
How about 'Release'

[2020-06-16 09:04] Kungergely commented on #117
That last sentence is a lie. Plain and simple as that.

[2020-06-16 12:36] meskill opened #119 "Using some options for Webpack will cause plugin to crash build"
Setting webpack option [strictModuleExceptionHandling](https://webpack.js.org/configuration/output/#outputstrictmoduleexceptionhandling) to `true` will cause build to crash with following errors:
[code]

Probably, it is happening because of the code [here](https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/main/src/index.js#L151) which fails for webpack build with `strictModuleExceptionHa

[2020-06-16 15:14] wuperguy commented on #117
How about keep it as "master"?
This is getting absolutely absurd and out of hand.. do we really need to rename every last thing because it quote on quote has reference to slavery? No.
Master does not have ANYTHING to do with slavery unless you're pathetic enough to complain and make it that way. Just leave it be, you're causing way more trouble than its worth.. people will find anything to complai

[2020-06-16 16:03] denniskortsch commented on #82
We experienced something similiar. Changing to

[code]

seem to fix it.

[2020-06-17 15:46] MatStace commented on #117
You're also 100% entitled to not use any repo which makes default branch naming decisions that you disagree with, but this isn't an airport, you don't need to announce your departure

[2020-06-17 16:39] jbreckmckye commented on #117
Given that no-one actually wants to discuss potential branch names (apart from @InfinitySamurai) I'm just going to close this

[2020-06-17 16:39] #117 closed

[2020-06-18 00:38] michaelgmiller1 opened #120 "Hot reloading does not work with @babel/plugin-transform-modules-commonjs"
When I use the `@babel/plugin-transform-modules-commonjs` plugin and change the repo to use an object export for `App`, hot reloading breaks with the following error:

[code]

I've developed a minimum repro here: https://github.com/michaelgmiller1/react-refresh-webpack-plugin/tree/transform-repro

After patching, you can run the `webpack-dev-server` example and modify the `App.jsx` file to reprodu

[2020-06-18 10:46] pmmmwh commented on #119
Thanks for reporting! A fix is on its way!

[2020-06-18 10:49] pmmmwh commented on #82
While I do like using `hotOnly` over `hot`, it won't fix the problem properly. What it does is to bake Webpack's HMR bail out not fully reload the page, but will not make the module properly update. Modules other than the one with issues might continue to update though.

[2020-06-18 10:56] pmmmwh commented on #82
Criteria for full refresh are not as obvious as you might think, because HMR updates can bubble/propagate up the dependency chain.

For fast refresh, we will only stop bubbling if and only if we hit a refresh boundary, which is a module with React-related exports only.

With that said:

If parent boundary exists - stop at boundary and reload the chain only
Else, we will bubble to root and bail out

[2020-06-18 11:11] pmmmwh commented on #117
@jbreckmckye

While you've closed the issue I think I owe you a proper reply, so here we go.

This depends on how you see it - most commits will be merged to the primary branch (especially when squashing), so in some sense we can say the primary branch is the "main" place where stuff happens. (I also occasionally push to master 😅)

I don't think I completely agree. "Main" means "most important" -

[2020-06-23 09:01] #27 closed

[2020-06-23 09:01] #119 closed

[2020-06-23 10:45] pmmmwh commented on #9
Resolved by webpack/webpack-dev-server#2404.

[2020-06-23 10:45] #9 closed

[2020-06-23 17:57] cincyelite22 opened #125 "React-Refresh not working for bound function which returns JSX."
### Describe the bug

I have a view that is binding to a function which returns JSX:
[code]
When the JSX that TestComponent returns changes, the view is not updated.

However; if the function is used in the below format, the changes to TestComponent are reflected to the view:
[code]

### Steps to reproduce

(Write your steps here:)

1. Clone the repo athttps://github.com/cincyelite22/React-Refresh

[2020-06-23 20:31] pmmmwh commented on #125
This should be intentional.

The pattern you've illustrated here is an anti-pattern - the sub-tree generated by the JSX-returning function will get pruned and recreated whenever a change occurs. I also think the semantics are different from regular JSX and generated code is quite different  (thus making it difficult to track updates)

@gaearon Can you confirm that I'm correct that this will not be

[2020-06-24 07:58] ckken opened #126 "UnhandledPromiseRejectionWarning: Error: Cannot find module 'webpack/lib/ParserHelpers'"
(node:50522) UnhandledPromiseRejectionWarning: Error: Cannot find module 'webpack/lib/ParserHelpers'
Require stack:
- /Users/ken/Desktop/develop/MicroFE/emp-workspace/node_modules/@pmmmwh/react-refresh-webpack-plugin/src/index.js
- /Users/ken/Desktop/develop/MicroFE/emp-workspace/packages/emp-cli/webpack/config/plugin.js
- /Users/ken/Desktop/develop/MicroFE/emp-workspace/packages/emp-cli/webpack/c

[2020-06-24 17:10] cincyelite22 commented on #125
@pmmmwh I have noticed that the use case works fine if the export is camel case instead of pascal case.

[2020-06-24 18:25] pmmmwh commented on #125
Yes, for that specific example not using pascal case will make it work.

This is because, the runtime is now not detecting the JSX-returning function as a component (when it in fact is not), and thus propagates the hot update to it's parent - which is a component. The result is that the parent component will be re-rendered and thus making update seemingly work for the function. When the parent is

[2020-06-24 18:28] pmmmwh commented on #126
Hi, can you please state the version of:

1. the plugin;
2. Webpack;

Providing me just the error stack trace is not helpful to say the least, because there is not much stuff for me to trace.

[2020-06-24 20:34] michaelgmiller1 commented on #120
anything I can do to help investigate this? super excited to adopt react refresh in our app!

[2020-06-24 20:42] brandonpapworth commented on #120
👍

[2020-06-25 13:30] dagda1 opened #128 "integration with webpack-devserver"
I can't find anywhere in the docs that states what `webpack-devserver` config might interfere with this plugin.

Would it be possible to find out if these values conflict?

[code]

[2020-06-25 15:07] pmmmwh commented on #128
Nothing will conflict with this plugin.

However, if you're using `sockHost`, `sockPath` and `sockPort`, you should also set the respective options for the plugin. This is currently a WDS-only quirk because we don't have a good way to detect these values (CLI/Config/Inline).

[2020-06-25 15:26] dagda1 commented on #128
@pmmmwh thank you for the answer and the plugin!

Do you mean set the `sockPath`, `sockHost` and `sockPort` on the overlay:

[code]
I seem to get a better experience with this in `webpack-devserver`

[code]

[2020-06-25 15:45] michaelgmiller1 commented on #120
@pmmmwh I reduced App.jsx to this:

[code]

the result (via `npm build` removing minification):

[code]

[2020-06-25 15:50] michaelgmiller1 commented on #120
I reduced `App.jsx` to a minimum to reproduce:

[code]

The result is:

[code]

[2020-06-25 15:52] michaelgmiller1 commented on #120
So it looks like it does:

[code]

[2020-06-25 16:48] pmmmwh commented on #128
Yes.

It depends on the structure of your project. `hotOnly` only make any bailouts to not immediately trigger a full refresh.

If you're having issues, or are experiencing a lot of full refreshes, I'll need more context about your project before I can give out any specific suggestions.

[2020-06-26 09:22] dagda1 commented on #128
Hi,

THere do seem to be a hell of a lot of updates coming from the css, my css config is below.

Could you give it a quick glance and see if anything obvious stands out?  I have a function to create this and I did not realise how big it was until I outputted it to the console

[code]

[2020-06-26 11:37] pmmmwh commented on #120
I did a bit of digging and it seems that this only happens when `@babel/plugin-transform-modules-commonjs` and `@babel/plugin-transform-runtime` is both used.

The culprit of this issue is that somehow the referential equality of the object which we use to calculate whether the change is acceptable is broken - I'll have to look further (and maybe even ping Dan) to get this properly fixed.

[2020-06-26 17:59] pmmmwh commented on #120
@michaelgmiller1 I think I've found the culprit.

The issue in the repro is that there are two instances of `react-refresh/runtime` being used, and thus object referential equality will be broken across the two instances. I haven't figured out why the combination of the two plugins will cause this though - it might have something to do with helper injection. (Also unsure why the issue didn't surfa

[2020-06-26 18:01] pmmmwh commented on #128
This plugin does not deal with CSS - it is other plugins/loaders responsibility to ensure they hot update properly.

However, I would suggest removing `css-hot-loader` and use the built-in HMR functionality from `mini-css-extract-plugin` (since 0.6.0) instead, because it is much better maintained.

[2020-06-26 18:06] michaelgmiller1 commented on #120
@pmmmwh thanks for diving in! just one comment on your codebox, it uses `export default App` instead of `export function App`. Exporting via object was needed to reproduce the issue for me. If I change your code sample to export via object, then it breaks again.

[2020-06-26 18:08] dagda1 commented on #128
thank you for taking the time to answer this

[2020-06-26 18:09] pmmmwh commented on #120
This ... is ... so ... strange!

I've tested with a bare bones example on my local machine with `export function App` and it works 😱

[2020-06-26 18:14] #128 closed

[2020-06-26 21:15] pmmmwh commented on #120
Uhh ... okay. I have something working. I will add a regression test and some notes in the code base.

[2020-06-27 19:15] #120 closed

[2020-06-28 03:15] ckken commented on #126
webpack: 5 beta 18
plugin version:
"@pmmmwh/react-refresh-webpack-plugin": "^0.4.0-beta.5",
"react-refresh": "^0.8.3",

[2020-06-28 03:25] ckken commented on #126
![image](https://user-images.githubusercontent.com/3890513/85936957-fdc05d80-b931-11ea-85cb-5a96251ec234.png)
update =>"@pmmmwh/react-refresh-webpack-plugin": "^0.4.0-beta.6"
use module federation

[2020-06-28 15:01] glekner commented on #105
hey @pmmmwh
switching `transportMode` to `ws` indeed fixes the issue.
could this break something else in the code? the app seems to run fine, browser support is also pretty decent if i'm not wrong?

[2020-06-28 18:37] pmmmwh commented on #105
No. If it does please redirect your issue to the `webpack-dev-server` repo.

As shown in [caniuse](https://caniuse.com/#feat=websockets), you're covered 97.57% of the time.

[2020-06-28 22:04] pmmmwh commented on #126
Did you include the `webpack.HotModuleReplacementPlugin` in your Webpack configuration? If not, this plugin won't work.

With `webpack-dev-server` you can use either of the `hot`/`hotOnly` options, and with other development means you'll have to include it manually.

I've tested with module federation everything works fine.

[2020-06-29 07:05] ckken commented on #126
nice

[2020-06-29 07:20] ckken commented on #126
![image](https://user-images.githubusercontent.com/3890513/85984687-1a38c480-ba1c-11ea-991d-6e3cc0f53aaf.png)

[2020-06-29 07:24] ckken commented on #126
no work for me！
[code]

[2020-06-29 11:40] ckken commented on #126
![image](https://user-images.githubusercontent.com/3890513/86000639-5ed65700-ba40-11ea-9aeb-2c0684979cc4.png)
when remove exposes it work!

[2020-06-29 11:44] ckken commented on #126
![image](https://user-images.githubusercontent.com/3890513/86001050-ecb24200-ba40-11ea-8bf9-27150d7cf1d1.png)

[2020-06-29 21:56] pmmmwh commented on #126
The issues you're facing is due to a bug in webpack@5.0.0-beta.18. if you use webpack master, these issues goes away. If they don't, or if you have any further questions, it is most likely not due to this plugin - we plug into Webpack's HMR runtime and if the HMR runtime errors out for module federation we can do nothing.

Side note: I would suggest adding `react-refresh/runtime` to shared singlet

[2020-06-30 03:39] ckken commented on #126
![image](https://user-images.githubusercontent.com/3890513/86080808-50cb1980-bac6-11ea-90ed-f22b32ae34bc.png)
no work also!

[2020-06-30 05:01] ScriptedAlchemy commented on #126
go to beta 20

[2020-06-30 05:27] ckken commented on #126
same issue

[2020-06-30 05:29] ckken commented on #126
There are the same problems

[2020-06-30 10:04] pmmmwh commented on #126
@ckken is it possible for you to share your full Webpack configuration files? It will be easier for us to figure out what is actually wrong - cause I've tested a few examples from the module federation org and stuff works ...

@ScriptedAlchemy it seems that on refresh HMR breaks too, I'll provide a simple repro.

[2020-06-30 10:33] ckken commented on #126
webpack config:
[code]

[2020-06-30 10:38] ckken commented on #126
webpack config for development
[code]

[2020-06-30 14:30] Romcol opened #131 "Configuration issue with react-refresh/babel "ReferenceError: $RefreshReg$ is not defined""
Hi,

The plugin works perfectly fine when I use `webpack-dev-server`, thank you for that ! But when I compile my react program not using the dev server, `webpack --mode development --config webpack.config.js` I get an error.

I've perused some related issues but none seem to match what I'm looking after.

When I include `ReactRefreshPlugin` only with hot mode, such as here :
[code]

I get this err

[2020-07-01 10:57] ckken commented on #126
revert to webpack5-beta-16 every thing goes well

[2020-07-02 15:35] glekner commented on #105
nice, I do get a warning of still using SockJS even though I cant find any reference to the pattern `sockjs || sock-js` in the code?

`WebSocket connection to 'ws://localhost:9000/sockjs-node' failed: Error during WebSocket handshake: Unexpected response code: 200`

[2020-07-02 16:11] pmmmwh commented on #105
If you use a custom socket path for WDS -  you will have to tell the plugin. `sockjs-node` is the default fallback path hard-coded in WDS and in the plugin for the WDS integration.

[2020-07-02 16:29] pmmmwh commented on #131
This is unfortunately a constraint to having the babel config outside of the webpack configuration.

This could be worked around - if you already can check for hot mode.

You could set an environment variable within the webpack config and consume its value in the babel config.

`webpack.config.js`

[code]

`babel.config.js`

[code]

[2020-07-02 17:18] glekner commented on #105
Thanks, hijacking this issue for another question
Is it possible to not use:?

I'm not getting any type errors without it.

[2020-07-02 22:27] pmmmwh commented on #105
In theory, this shouldn't be the case - you can take a look at the files within `types` and clearly we have dependency on `type-fest` for error overlay options at least - maybe if you don't use these options `tsc` is smart enough to not warn ...

[2020-07-03 09:18] justin808 commented on #48
@pmmmwh @avetisk did you try this plugin with loadable-components *and* SSR?

_React.lazy is probably preferable to loadable-components if no SSR is needed._

[2020-07-03 09:38] pmmmwh commented on #48
No, but it works for CSR - so in theory it should work for SSR too. If it doesn't work, most likely it is a Webpack configuration problem rather than the plugin's problem.

[2020-07-06 15:39] glekner commented on #105
@pmmmwh
I'm using `ws` instead of the default `sock-js` as you advised.
Do you know what path/port do I need to change in the plugin options?

[2020-07-06 15:46] pmmmwh commented on #105
Please post your dev server config here 😊

[2020-07-06 15:55] glekner commented on #105
I fixed it :)
Because were running a bridge proxy just needed to add the webpack port to the plugin config.
It didn't work on 0.4.0.beta6 ! I still got the error for some reason.
I downgraded to 0.3.3

[code]

[2020-07-06 16:18] pmmmwh commented on #105
I will ... Erm ... Have to take a look at it then I guess 😂

[2020-07-06 21:14] pmmmwh commented on #105
Error addressed in #133.

[2020-07-07 09:14] ckken commented on #126
[code]
it no work for me
https://github.com/module-federation/module-federation-examples/issues/138#issuecomment-654614565

[2020-07-07 11:10] pmmmwh commented on #126
I won't have time to test module federation this week most likely, but from what I see in the screenshot it is some sort of error within Webpack's JSONP HMR runtime - which is way out of scope of this plugin.

@ckken I would suggest you redirect your troubleshooting to webpack/webpack#10352 (I will join the discussion if I see anything related), with a minimal reproducible example (like how I did

[2020-07-07 11:43] flyyuan commented on #126
mark

[2020-07-07 17:11] Rohitbels commented on #125
@pmmmwh  I also have a similar issue.
[code]

When I lazy load this my Components using above HOC full page reload takes places.
Am I missing something here?

[2020-07-07 17:33] pmmmwh commented on #125
Can you create a simple repro repo? You can fork the examples here and modify them.

Side note, you can probably return a function component?

[code]

[2020-07-07 17:36] gaearon commented on #125
All of this sounds correct.

You shouldn't be "calling" components directly because this breaks Hooks, too. So you should be using JSX or createElement for them. If you don't intend that function to be treated as a component, don't use Pascal Case for it.

This sounds entirely unrelated to the issue on this thread and is a result of you using a class.

[2020-07-07 17:44] #125 closed

[2020-07-07 17:45] pmmmwh commented on #125
I just did some quick tests and I cannot reproduce this issue.

(Simply add your LazyLoader into `examples/webpack-dev-server` and wrap the `LazyComponent` with it)

@Rohitbels Please open a new issue with your particular usage in it to discuss this further.

[2020-07-07 18:25] michaelgmiller1 opened #134 "Thanks (seriously)"
I know there's another "Thanks" issue from 2019, but wanted to open another one since I saw you were a little disheartened on Twitter. Just wanted to let you know your work is valuable and increases productivity significantly. Thanks. Keep up the good work!

[2020-07-08 07:20] zxc0328 commented on #111
I also encounter with this error and the reason is I named the default export as `module`, like:

[code]

and module is a global variable when hot module reload is enabled. So the user-defined `module` variable conflict with the global one.  I'm not sure this behavior is expected or not.

[2020-07-08 07:54] pmmmwh commented on #111
This is unrelated to this issue. What do you mean my naming an import `module`

Can you open a new issue and provide the steps to reproduce please?

[2020-07-08 07:57] #131 closed

[2020-07-08 08:20] pmmmwh commented on #1
## Roadmap to v1 Stable

- Testing
  - [ ] Error recovery tests #3
  - [ ] Regression tests
    - Babel Runtime helpers #120
    - TypeScript #111
    - Webpack options #25 #88 #119
    - styled-components #47
    - yarn v2 #95
    - Non-browser renderers #42 #43 #79

- Bundling
  - [ ] Stabilize Webpack 5 support #27
  - [ ] Stabilize Module Federation support #126

- Overlay
  - [ ] Warning supp

[2020-07-08 08:21] pmmmwh commented on #107
https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/1#issuecomment-655367948

[2020-07-08 08:21] #107 closed

[2020-07-08 08:21] pmmmwh commented on #134
Thanks!

[2020-07-08 08:21] #134 closed

[2020-07-08 08:41] #30 closed

[2020-07-08 14:08] gaearon commented on #1
I wouldn't expect any differences when SSR is on.

[2020-07-08 14:42] pmmmwh commented on #1
Initially I was expecting some difference because I wasn't sure how SSR build setups work, and the implementation here was quite rough too.

With the latest iteration I think there shouldn't be any difference in Fast Refresh compatibility, but there might still be some difference in the experience due to the libraries are being used (e.g. React.lazy v.s. loadable-components) and how builds are bei

[2020-07-08 18:11] michaelgmiller1 opened #136 "React refresh not compatible with @babel/preset-flow"
If I include `@babel/preset-flow` in the `webpack-dev-server` example, webpack fails to build it. If I remove hot reloading, webpack succeeds. I've created a small reproducible test case here:

https://github.com/michaelgmiller1/react-refresh-webpack-plugin/commits/flow-break

I think this is the last remaining issue for us to adopt React Refresh in our app!! Thanks again for all your work fixing

[2020-07-08 18:18] michaelgmiller1 commented on #136
Oh and the error is:

[code]

[2020-07-08 21:00] brandonpapworth commented on #136
Along these lines, as I was fiddling around with the example, I noticed that the output that is attempting to be parsed does not have the `// @flow` comment at the top of the file, which will make things break as the flowtype type-stripper won't  be triggered. It appears that `ReactRefreshWebpackPlugin` is stripping it along the way.

If you were to update `examples/webpack-dev-server/babel.config

[2020-07-08 21:14] pmmmwh commented on #136
Not really stripping it away, we inject runtime code (with a loader that runs before Babel) at the start of files so the `// @flow` comment will be offset by a few lines.

We might have to hard-code something along the lines of `lines[0].include('@flow')` to handle it ☹️

[2020-07-08 21:21] brandonpapworth commented on #136
@pmmmwh thanks so much for the attention on this.

Would it be possible to inject that runtime code after top-of-file comment lines/blocks? I'm not trying to come off as a begger by any means, but just thinking of a way to make it too stiff from hard-coded solutions.

[2020-07-08 21:55] pmmmwh commented on #136
The issue is that we don't parse the file, so we have no idea if there exist a top-of-file comment.

I'll see if we can work around that without doing string manipulation but it seems difficult at first glance.

[2020-07-09 12:07] SuperOleg39 opened #137 "Add configuration for disable error overlay for `unhandledrejection` event"
Hello!

**Use case**
`unhandledrejection` event mostly is not a critical error for applications, but with `react-refresh` and enabled `overlay` option, it's impossible to continue develop application.
It is a problem, when developer not controlling rejected promise, for example, if promise run inside external library.

**Proposal**
Add extra option to `ErrorOverlayOptions`,  for example: `options.

[2020-07-09 21:31] coreyleelarson opened #138 "Eslint errors when using eslint-loader with version beta.7"
It appears version 0.4.0-beta.7 is giving me a slew of eslint errors through eslint-loader. I have `enforce: 'pre'` set for eslint-loader to ensure it is executed on my untouched source files prior to babel-loader, but it seems like this plugin does not respect that.

I did not have this problem with version 0.4.0-beta.5 and everything was working great. Is there a new configuration that I am miss

[2020-07-10 15:17] coreyleelarson commented on #138
I think I've narrowed it down to #129 but I haven't had the time to investigate further.

[2020-07-11 05:51] pmmmwh commented on #138
Yes, I am on it.

[2020-07-12 04:05] colinclerk opened #139 "Two Reacts with fast refresh, one overlay won't dismiss"
I have two React's with fast refresh, one coming from webpack/react-refresh-webpack-plugin, and the other coming from next.js.  (I think that's purely an implementation detail, though, this bug looks like it would occur with two webpacks as well.)

When I create a runtime error in either project, both error overlays throw.

When I fix my error, the codebase with the error removes their respective

[2020-07-12 21:08] #136 closed

[2020-07-12 21:08] #138 closed

[2020-07-12 21:23] pmmmwh commented on #138
Fixed in `0.4.0-beta.8`.

[2020-07-12 21:23] pmmmwh commented on #136
Fixed in `0.4.0-beta.8`.

[2020-07-12 21:24] pmmmwh commented on #120
RE-FIXED in `0.4.0-beta.8`.

[2020-07-12 21:27] coreyleelarson commented on #138
Works great, thanks!

[2020-07-13 00:14] luisgrases opened #142 "Issues with React DevTools"
It seems this plugin causes issues with Chrome React devtools. The inspect tool seems to not be working at all.
![image](https://user-images.githubusercontent.com/6208922/87259799-1fa9fc00-c46b-11ea-8346-66e1279b57f1.png)

I am using react: 16.13.1 and refresh-webpack-plugin: 0.3.3.

[2020-07-13 01:05] pmmmwh commented on #142
I'm not seeing this issue. Can you try the latest beta (i.e. `0.4.0-beta.8`)?

If it still doesn't work for you, can you provide a reproducible example for me to investigate?

[2020-07-13 01:17] pmmmwh commented on #137
Personally, I see things differently. I think an unhandled promise rejection **IS** an error in the application, and developers have the responsibility to deal with it. I see them as **ERRORS** in the Promise realm. In worst cases, it might fail silently in production which will make your application fall into an inconsistent state that is not obvious to the user (with errors you will most likely

[2020-07-13 01:20] pmmmwh commented on #139
I'm not sure how you're using two Reacts, while bundling them together? This plugin and Next.js is somewhat redundant (from Next.js 9.4+) because they rock their own fast refresh runtime.

Can you provide a reproducible example for me to properly understand the issue?

[2020-07-13 02:29] luisgrases commented on #142
I am not being able to reproduce it on a small repo. Will keep trying. Another thing I have noticed is that react-dev-tools is giving me a: No element found with id {node_id} anytime I hover over a component using the inspector tool.

[2020-07-13 04:05] colinclerk commented on #139
I'm not bundling them together - I have two Reacts coming from two different <script> tags on my page, and each fast refresh is binding to the global `window.addEventListener('error')` to catch runtime errors, so they're catching each others errors.

The "why" of this is - I'm building an embeddable widget.  One react is for the widget (webpack), and the other is for the application embedding it (

[2020-07-13 05:05] pmmmwh commented on #142
Do you mean removing the Webpack plugin, the Babel plugin or both? Can you try including the Webpack plugin but removing the Babel plugin? This will break FR, but is a good indicator on which part of the integration is messed up (DevTools global hook or runtime from the plugin)

[2020-07-13 06:33] pmmmwh commented on #139
I understand the argument and would agree that this is an issue. I think this would be a bigger issue with Webpack 5 and module federation - since it basically is your example amplified.

The issue is, we basically don't have much of an alternative solution here. Filtering for `filename` from error events is unreliable: For example, what if an error originate from `eval` or maybe the output filena

[2020-07-13 08:45] SuperOleg39 commented on #137
Thank you for the complete answer! Agree with your arguments, will be waiting news about warning level)

[2020-07-13 08:46] #137 closed

[2020-07-14 08:43] glekner commented on #105
@pmmmwh is there a way to disable the error overlay? without sacrificing the new `sockPort` I just added to the `overlay` object?

[2020-07-14 12:10] pmmmwh commented on #105
`sockPort` only affects the overlay, so if you disable it you don't need to include the flag.

[2020-07-15 09:28] ghost opened #143 "Apply plugin to some chunks only"
Hello, I would like to know whether it's possible to apply the plugin to some chunks only?
I am building the application itself and a couple of WebWorkers within the single webpack build.
As a result, the plugin is applied to the WebWorker code is well.
Due to the `window` usage, it triggers an error.
`ReferenceError: window is not defined`.
I haven't found any options in the documentation that ca

[2020-07-15 14:15] pmmmwh commented on #143
By specific chunks do you mean entries? We have no control over chunking.

Can you attach the error here too? Is it from the overlay entry?

Currently injected entries does not respect the include/exclude options. If an option to exclude specific entries from the injection, that should solve your problem?

[2020-07-15 17:10] colinclerk commented on #139
Are you thinking something like `document.getElementByID("#react-root").addEventListener("error")`?  My intuition is that adding a listener to the node wouldn't catch anything, since the script runs outside of the node, but I'm not 100% sure on that.

I jumped to filename because (I think) the top line of my error is always attributed to the script webpack produces.  I just tried with an `eval("th

[2020-07-16 09:10] DanAtSpark commented on #143
@pmmmwh Yes, I mean entries, you are totally correct.
This is the only error I get, I can attach the stack, but it points to access location field of the window object. The code is definitely inserted by the plugin.
Excluding the entry should solve the problem.

[2020-07-16 09:48] dagda1 opened #144 "should I be seeing the regular error overlay iframe when using react-refresh"
Should I be seeing the regular react error iframe when using this plugin?

After I have configured the plugin, errors show the iframe and there is no refresh.

If you could please let me know if the iframe should be there as my first thing to cross off.

![aaaaa](https://user-images.githubusercontent.com/118328/87656632-a43d9880-c751-11ea-9fca-97b6f7c56466.png)

[2020-07-17 02:46] SimplyY opened #145 "build time is so slow..."
build time 40s => 90s

[2020-07-17 23:41] pmmmwh commented on #145
Hi, can you please provide more info on what you're working with?

It is impossible for me to know anything about your build time without you providing any insights.

[2020-07-17 23:44] pmmmwh commented on #144
I suppose you are using `create-react-app`? If yes - their support have landed but have not been released. You will have to reference our CRA example in configuring your app.

[2020-07-17 23:52] dagda1 commented on #144
im not using create-react-app.  it is custom webpack

[2020-07-18 00:14] pmmmwh commented on #144
Then you probably are using a custom overlay. The iframe shown in the screenshot is not the default one bundled by the plugin.

[2020-07-19 06:54] dagda1 commented on #144
I was using `webpackHotDevClient` from react-dev-tools.  Removing this removes the overlay

[2020-07-19 06:54] #144 closed

[2020-07-20 10:38] Zaid-Ajaj opened #150 "Fable support for Feliz/React applications"
Hi there,

For a while now, we have been trying to integrate the react-refresh plugin into a React application with the [Fable](https://fable.io/). I tried of bunch of configuration and non have worked so far 😞 I am really hoping you could give us guidelines as to how to make the integration work. I realize that you most likely aren't familiar with Fable and its tool chain, so let me briefly expla

[2020-07-20 16:59] gaearon commented on #150
From a cursory look, there's two missing pieces. Our Babel plugin needs to be able to detect React components (which it does by `PascalCase` function naming convention) and calls to Hooks (which it does by tracking `use*` function calls).

In this example, both of these aspects are obscured:

[code]

You could probably write an alternative Babel plugin which would detect `$002Euse*` as a Hook patt

[2020-07-20 17:28] Zaid-Ajaj commented on #150
Hi @gaearon, thanks a lot the suggestions! I was able to simplify the generated code by removing some layers between Feliz and the raw React function calls. Using this F# snippet:
[code]
The generated code now looks like this:
[code]
The plugin now seems to be able to detect React patterns in the code (function components and hook usages). However, it doesn't  show the application anymore and inst

[2020-07-20 17:39] Zaid-Ajaj commented on #150
Alright, I managed to get the application running again. It seems that I cannot give a function as a direct argument for the render function from react-dom but instead I needed to create a `ReactElement` out of it first by calling `createElement(Counter, { })` and now the generated code like this:
[code]
The application works nice but unfortunately still does a full page refresh when changing the

[2020-07-20 18:15] gaearon commented on #150
return Counter();
},

This doesn't look right.

Should be this?

[code]

Also, `renderDOM` call should be in another file. Your component should be exported.

[2020-07-20 18:40] Zaid-Ajaj commented on #150
Unfortunately, no dice 😞 after using separate files (from which the counter component is exported, now called `App`) The exports used are following this syntax:
[code]
Could it be that only `export function ... ` is supported?

Probably, right now I don't have a why of generating code that looks like this (this is how Fable currently does things) I can discuss it with the maintainers to see if we

[2020-07-20 18:48] gaearon commented on #150
The latest version of the code looks all right to me. Can you make a version of your repro with compiled code for this version?

[2020-07-20 18:54] Zaid-Ajaj commented on #150
Just published the modified F# code and its corresponding Javascript output. You should see now two files `./compiled-js/Components.js` and `./compiled-js/App.js` where a `Counter` function is exported from `Components.js` and used from `App.js`

[2020-07-20 19:11] gaearon commented on #150
I'm getting this on `yarn start`:

[code]

Is this because I haven't installed dotnet? I'd like to run your version without compilation.

[2020-07-20 19:13] gaearon commented on #150
All right I got it running.

[2020-07-20 19:23] gaearon commented on #150
This still seems like a problem. From React's point of view, you're not rendering the `App` component at all. You're rendering a function component of a different type (which happens to call the `App` function inside). I don't know if that's the source of the problem or not, but we need to get from `createElement(function () { App() } }` to `createElement(App)`.

[2020-07-20 19:47] gaearon commented on #150
So far the furthest I got was by keeping

[code]

in one file and

[code]

in the other file. This still has the naming issue but it might actually not be a problem.

The problem I'm seeing is that `$ReactRefresh$.setup()` only seems to be called for a few modules:

<img width="396" alt="Screenshot 2020-07-20 at 20 44 46" src="https://user-images.githubusercontent.com/810438/87979519-199ac780-caca

[2020-07-20 19:47] Zaid-Ajaj commented on #150
That makes sense. I managed to get the compiled code to generate the `createElement` call without creating an intermediate function in between: introducing a JS file (which I called `Bridge.js`) that imports the counter and exports it as is, then importing that file from `App.js` to the desired output:
[code]
You can see and pull the changes for the repo in its current state. The code is nowhere c

[2020-07-20 19:57] Zaid-Ajaj commented on #150
Hmmm interesting, I had the feeling that it was in fact detecting the components because when I used `render` incorrectly, I got the error screen which is coming from the plugin. Though that might be something global when any exception is thrown and nothing has catched it. I will look into it, I assume this function is coming from the plugin itself

[2020-07-20 19:58] gaearon commented on #150
Ok I got a bit further. Is there a way to make `let Counter = React.functionComponent(fun () ->` give a name to the inner function?

[2020-07-20 20:04] Zaid-Ajaj commented on #150
I am afraid there isn't in Fable/F# 😞 `fun () -> ` always translates to an anonymous function. Unless you write the function the way you want it from the `Bridge.js` file in JS and then import it from `App.fs` before passing it down to `render`

[2020-07-20 20:07] gaearon commented on #150
What is it exactly that causes the wrapping at `createElement` callsite? This seems highly dangerous in general because it destroys all local state below in the tree. Why is it introducing this semantic difference?

[2020-07-20 20:15] gaearon commented on #150
Here's the fix based on your latest master.

[code]

We could maybe add `f` to `include` array by default [here](https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/4b2331f771c07fc7896431f17b785db25d7a9b11/lib/utils/normalizeOptions.js#L50) so you wouldn't have to tweak plugin options.

[2020-07-20 20:17] Zaid-Ajaj commented on #150
I believe (but I am not entirely sure) that the reasoning has to do with the fact that we are using a function that is written in F# as input for another function used in JS: functions written in F# are automatically curried so I think Fable uncurries the function at call site of external JS APIs to make them adhere to standard JS conventions while allowing F# devs to write functions the same way

[2020-07-20 20:19] gaearon commented on #150
I guess really the fix is just adding `internal` to that `let useState` thing, and fixing the include option. The rest works.

But ideally you would never generate a passthrough function when there's no actual currying intended (such as when passing code into React JS APIs). Since that messes with function identity, and React cares about function identities a lot.

[2020-07-20 20:57] Zaid-Ajaj commented on #150
Oh my god it actually works 😍 :heart: I can't thank you enough for taking the time to actually debug the code :pray: I think that I understand how we should simplify the code gen in Fable to make it output more React-friendly code

 - Remember to include F# modules `new ReactRefreshWebpackPlugin({ include: /\.(f|j)s$/ })`
 - Function components are always PascalCase
 - Function components are alwa

[2020-07-20 20:57] #150 closed

[2020-07-20 22:10] gaearon commented on #150
I think it's more that if your module exports something that *doesn't look like a function component (PascalCase function)*, we're going to have to look at all its "parent" modules instead, and continue this analysis up the tree. If we reach the root, we reload the whole app.

[2020-07-20 22:16] Zaid-Ajaj commented on #150
I see, that makes sense. In any case I believe we can achieve this requirement on the Fable side of things using a compile-time extension so that users don't have to bother with it really, so every annotated function component becomes pascal case by default if that isn't the case already :smile:

[2020-07-21 15:10] brickspert commented on #85
It will not work correctly in this scenario

[code]

[2020-07-22 19:17] pmmmwh commented on #150
Dan - thanks for stepping in while I was away busy with other stuff!

I think I'll add some FAQ to the README to clarify some of these underlying assumptions.

I'm not sure about this.

- Might make sense to only include `.fs` as you've shown to not allow any js files sneak in (explicitly)
- F# is not a JS related ("superset", like TS/Flow are)
- I'm not sure how many people it would benefit tbh .

[2020-07-22 19:19] pmmmwh commented on #85
What do you expect to happen?

The effect callback is not the same as un-mount. It only means the effect was flushed and reinitialized.

[2020-07-23 04:30] pmmmwh commented on #139
Webpack does that, we have no control or information about it.

What methods do you have in mind with `document.currentScript`? Filter errors' source with it?

[2020-07-23 04:30] pmmmwh commented on #142
It seems that it was a bug in DevTools instead of the plugin (and it was fixed few days ago). Can you verify that stuff works for you now?

[2020-07-23 04:47] colinclerk commented on #139
Yea, I'm imagining the babel plugin can inject something that uses `document.currentScript` to build up a reliable list of which script tags are running babel-loader output, then errors can be filtered against that list of script tags.

[2020-07-23 04:53] pmmmwh commented on #139
Maybe something along the lines of sniffing webpack's output stats - let me discuss with other "overlay" maintainers about this use case 😄

[2020-07-23 09:48] xyy94813 commented on #7
I am using `react-hot-loader` with CRA.
But i got some problems when i use code splitting.
So, i am looking for a new solution.

If i want to use it with CRA now.
Is it the best option to use `esetnik/customize-cra-react-refresh` and then remove it after the CRA published?

[2020-07-23 11:53] pmmmwh commented on #7
It depends on your setup, e.g. if you're using any rewire tools. I would suggest you take a look at the `examples/create-react-app` folder, then if you really don't want to bother you can move on with the rewire plugin.

[2020-07-24 05:56] shaodahong opened #157 "module.hot.invalidate is not a function"
If i change `Class` -> `Function` or `Function` -> `Class`, error overlay by

![image](https://user-images.githubusercontent.com/14831261/88364400-5c53ec80-cdb5-11ea-9c52-4ca657e21803.png)

[code]

[2020-07-24 05:57] shaodahong commented on #157
Base on cra example

[2020-07-24 07:58] bebraw commented on #157
Are you using webpack 4.43.0 or newer? The method is introduced there and it doesn't exist before.

[2020-07-24 08:01] bebraw opened #158 "examples/webpack-plugin-serve doesn't start"
Running the webpack-plugin-serve example of the project yields `Error: Hot Module Replacement (HMR) is not enabled! ReactRefreshWebpackPlugin requires HMR to function properly.`.

I see this is because webpack-plugin-serve expects `HotModuleReplacementPlugin` not to be injected since it takes care of it and react-refresh-webpack-plugin expects it to work. If I remove the related check from react-r

[2020-07-24 08:04] shaodahong commented on #157
In my local webpack version `4.42.0`, and i upgrade and try

maybe we need upgrade this demo webpack version?

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/main/examples/create-react-app/package.json

[2020-07-24 08:07] bebraw commented on #157
Yeah, I noticed at least one of the demos is broken. Likely it's not a bad idea to update webpack version in each. I would also add some kind of snapshot test against their output to avoid breakage (simple to do).

[2020-07-24 08:14] shaodahong commented on #157
Thanks

![Kapture 2020-07-24 at 16 12 05](https://user-images.githubusercontent.com/14831261/88372458-85ca4380-cdc8-11ea-9ab9-eb32263d3485.gif)

[2020-07-24 08:14] #157 closed

[2020-07-24 14:59] pmmmwh commented on #157
Thanks for spotting this. This happens because for 0.4.0+ versions we will drop support for Webpack versions below 4.43.0 - in theory the plugin could be made backward compatible, falling back to `window.location.reload`, but that heuristic causes a lot of problem when the users are not using the browser as a renderer, so I am hesitant to do it.

[2020-07-24 15:34] shaodahong commented on #157
can be check support `window.location.reload`?

[2020-07-24 17:52] pmmmwh commented on #158
I guess the main issue here is that our current heuristic to detect for HMR capability is skewed towards "user-initiated" HMR plugin injection (because we won't be able to detect plugins injected by plugins via `compiler.options.plugins`).

A more robust and general check would be to check for `context.hot` in the normal module factory, although it would fail in a much later phase (I guess it's a

[2020-07-24 17:54] pmmmwh commented on #157
The main thing is, it would still not work for other non-browser renderers, and it provides quite a different experience for non 4.43+ users (a lot more cases would force refresh).

Maybe we can somehow pull all the fixes in 0.4 into 0.3 ...

[2020-07-24 17:55] bebraw commented on #158
Yeah, that sounds like a better check. Thanks!

[2020-07-24 20:11] #158 closed

[2020-07-27 08:34] bebraw commented on #158
@pmmmwh It looks like the webpack-plugin-serve is still using `0.4.0-beta.8` of **@pmmmwh/react-refresh-webpack-plugin**. Maybe there's a way to resolve against the project root or so for the package to avoid having to update the references.

I tested it against the current beta and it works very well. Thanks a lot! 👍

[2020-07-28 02:45] kirkcola opened #166 "Error: Cannot find module 'webpack.next/lib/NormalModule' on v0.4.0"
Hi,

I was trying to integrate the latest version of this plugin (v0.4.0) with the lastest beta of webpack 5 (v5.0.0-beta.22) and got this error:

[code]

Sorry I am not familiar with this project, but i think maybe this is a typo? Because after I replaced the 'webpack.next' with 'webpack', everything worked just fine:

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/937ed77c6c8c70470a

[2020-07-28 03:04] kirkcola commented on #166
I've create a PR to fix it #167

[2020-07-28 04:06] #166 closed

[2020-07-28 04:06] pmmmwh commented on #166
Fixed by #167, released in 0.4.1.

[2020-07-28 12:30] donaldpipowitch commented on #36
Looks to be back in `0.4.1`?

[code]

`0.4.0-beta.5` works for me.

[2020-07-28 13:21] pmmmwh commented on #36
How does your setup look like? Did you allow the `react-refresh/babel` to parse files that is not being processed by the plugin? What version of Webpack/React/React-Refresh are you on?

The runtime in `0.4.0` rewrites all calls to `$RefreshSig$` and `$RefreshReg$`, so seeing an error related to `$RefreshSig$` probably means that either the file didn't get picked up by the plugin, or our runtime ha

[2020-07-31 15:20] GuskiS commented on #24
Hmm, still getting some weird error:
![image](https://user-images.githubusercontent.com/3505777/89049651-3fda2600-d35a-11ea-8e79-fcd26fbf33fe.png)
When I click on the 220 line in devtools I see this output and there is no line 220:
[code]

But the worker code is fine and it is running as expected :thinking:

[2020-07-31 19:35] pmmmwh commented on #24
The plugin now rewrites all all references to `$RefreshReg$` and `$RefreshSig$` so this is most likely a configuration error.

Did you exclude the worker file from being processed by `react-refresh/babel` or the plugin? You either have to set it up so that it passes through both of them or none of them.

[2020-07-31 20:48] GuskiS commented on #24
I'm using this configuration: https://codesandbox.io/s/using-craco-ei2ek?file=/craco.config.js
And in code:
[code]

I don't have any other configuration for that worker 🤔

[2020-07-31 22:32] friek108 commented on #158
I'm getting this error after following the installation instructions with 0.4.1 - sorry but I don't fully understand the issue here to help debug - I've tried a few different variations of config but still get the error. @pmmmwh are you saying the issue is not fully resolved and we'll need to wait until it is to get it to work?

[2020-08-01 03:39] pmmmwh commented on #158
Hi, can you post your Webpack config for me to take a look at what's wrong? What versions of WPS are you using? Fid you enable the `hmr` functionality?

[2020-08-01 05:36] pmmmwh commented on #24
You **SHOULD** have. You should have added processing/chunking behaviour for that worker because CRA does not support Workers out of the box. I would assume you added something like `worker-plugin`?

There are two choices.

1. use the `plugins` options from it: [ref](https://github.com/GoogleChromeLabs/worker-plugin/#plugins-array) and add this plugin to the list.

2. Exclude the loader file from

[2020-08-02 02:25] MOZGIII opened #169 "Error: "Hot Module Replacement (HMR) is not enabled!""
I'm getting this error:

[code]

I'm using `electron-forge` to drive the webpack config, and it uses `webpack-dev-server` with `hot: true` internally. Apparently, there's a kind of an init ordering issue, but `react-refresh-webpack-plugin` *wrongly* detects that hot reload is not enables.

A simple demonstration of the incorrectness of this behavior is adding `new webpack.HotModuleReplacementPlugi

[2020-08-02 03:43] MOZGIII commented on #42
I'm not following.

The issue, in particular, is things like this:

https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/9276e4d6a50716c4e689fe338f7e575e6f07a5bd/lib/utils/injectRefreshEntry.js#L1

This has nothing to do with polyfilling, but about cutting what gets evaluated in the *renderer* webpack context or now. You are assuming that only the content of the `runtime` folder gets includ

[2020-08-02 04:01] MOZGIII commented on #42
Steps to reproduce the core issue:

[code]

The last `grep` shows that `querystring` is indeed imported, yet it's supposed to not have been if, as you say, only `runtime` folder was included.

Again the `querystring` comes from https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/9276e4d6a50716c4e689fe338f7e575e6f07a5bd/lib/utils/injectRefreshEntry.js#L1

[2020-08-02 04:03] MOZGIII commented on #42
UPD: also it comes from the `native-url`, which in turn is invoked at https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/9276e4d6a50716c4e689fe338f7e575e6f07a5bd/sockets/WDSSocket.js#L3

[2020-08-02 04:15] MOZGIII commented on #42
Also, to see how it effectively affects electron apps, add `target: "electron-preload",` to the `webpack.config.js` at the example from the repro steps above, and re-run `yarn webpack --mode development --hot`.
You'll then be able to find that actual `require` call in the bundle: `grep '*** external "querystring" ***' dist/main.js -B 3 -A 10`.

[2020-08-02 13:13] GuskiS commented on #24
My apologies, somehow tunnel-read what you meant. Yes, I'm using `worker-plugin`. Will implement 1st suggested approach tomorrow, will report if there are any issues.

This might be useful to add to documentation, maybe worker section? As it requires additional changes for workers 🤔

[2020-08-02 13:25] pmmmwh commented on #169
I'll take a look - I suspect that it has something to do with the ordering of execution.

It's kinda frustrating how various integrations have slightly different ways and timings of injecting the HMR plugin, and I do agree that the check right now is not as robust as it should be. However I still think this check acts as a good guard of usual configuration errors (the same can be said for `react-r

[2020-08-02 13:39] pmmmwh commented on #42
I'm getting confused. If you trave the code paths that actually gets into Webpack's `entry` option, you can clearly see that no code other than the overlay/the socket integrations/the refresh client is being called (`injectRefreshEntry` injects them, so you can start the trace there). All code outside of them is isolated and never `required` into them, which means by module resolution they should

[2020-08-02 13:41] pmmmwh commented on #24
I'll probably add a `TROUBLESHOOTING.md` soon and move all the FAQs there from the readme. I've been hoping to rewrite documentation so stuff will be clearer.

[2020-08-02 15:43] pmmmwh commented on #169
Is it possible to point me to where/how they config this? How do you use the plugin with `electron-forge`?

[2020-08-02 16:40] pmmmwh commented on #42
I think you have some wrong assumptions about the problem - I did the exact steps and while `querystring` is found, `injectRefreshEntry` is no where to be seen in the bundle. The only import to `querystring` I can see is from `native-url`. We do use `querystring` as a variable name too so there are more matches.

For `native-url` it is much more interesting because they are indeed using `querystri

[2020-08-02 16:59] KostkaBrukowa opened #170 "Plugin not working with older React versions"
Hey.
I'm working with kinda older project that still uses React version `16.8.1` and plugin is not working properly.
It signalizes that module is replaced but on page nothing changes. Docs does not mention supported react versions.

Is there minimum required version of React for this plugin?
I've checked and with `16.9.0` plugin works fine, so maybe it would be a good idea to put that in docs so i

[2020-08-02 18:15] pmmmwh commented on #170
`16.9.0` is indeed the minimum supported version.

I'm currently doing a docs rewrite, will add that to my list!

[2020-08-02 19:45] MOZGIII commented on #42
Weren’t you able to reproduce it with my example? I can create an example project and upload it to github.

UPD: ah, I see, indeed `injectRefreshEntry` isn’t in the bundle, but the `querystring` is there regardless. The key is to use one of the `electron`-specific webpack `target`s.

[2020-08-02 19:53] MOZGIII commented on #42
Huh, so it’s simply not supposed to be an external import, but a import from the `node_modules`? It makes sense then. Very unfortunate that there’s a name collision there.
Well, it’s yet another way how preprocessing and shipping ready-made bundles would make the setup more reliable, just saying.
What are the possible workarounds there? I can probably tweak webpack to use a node_module instead of

[2020-08-02 20:03] MOZGIII commented on #42
One possible fix for this, I think, is for the runtime code to assume the `URL` object is available natively or polyfilled. Would this be a viable solution?
It doesn't solve the root cause - the issue subj is a generic solution, and shifts the actual control over this to your side, rather than leaving it to assumptions about how people's bundlers operate - but at least that way the immediate probl

[2020-08-02 20:10] MOZGIII commented on #42
It would be a good idea to allow removing the code that does this check from the bundle. The assumption that the `process.env` is a webpack stub holds for webapps, but in electron it's normal to have this value be a real Node's `process.env`, providing an access to *user's* env vars, not the bundling time env vars. This would be security hazard if this code would rely on user env vars. Good thing

[2020-08-02 20:48] pmmmwh commented on #42
I think the best bet is to do that. I think for electron the default is to skip polyfilling it (but will keep the import in place) though, not sure why it did not resolve it from the correct place ...

If you're using `webpack-dev-server` - then yes. From the source of `electron-forge` v6 though, I see that they're using `webpack-hot-middleware` instead, so if you're using that you should change `

[2020-08-02 21:28] MOZGIII commented on #42
I'm trying to do just that right now. It's the first time I dig deep into webpack and stuff really, so my attempts so far are failing :frowning:. Any hints?

Thx, I didn't realize that hot middleware and dev server would have different integrations in the new version! I'll try that.

Why not use the Web API `URL` though? README already mentions user need to have a polyfill for old browsers. It see

[2020-08-02 21:39] MOZGIII commented on #169
I think the issue is with a `preload` script. I ran the `yarn start` process under a debugger, and it shows that the `if (!context.hot)` guarding that `throw` runs twice (for renderer build) - seems like once for `main` and once for `preload` endpoint.

UPD: I can confirm that the run with `target: "electron-render"` has `hot: true`, and the run with `target: "electron-preload"` doesn't have it se

[2020-08-02 21:54] MOZGIII commented on #169
I'll be happy to help.

[2020-08-03 21:29] pmmmwh commented on #169
[This](https://github.com/electron-userland/electron-forge/pull/1777) should be of interest to you.

In the mean time though, I might just add a way to disable checks, but do note that with disabled checks we cannot guarantee stuff will work (esp. HMR is not enabled for the preload script). I don't think any errors will arise, it's just some bloat no-op if branches (hopefully)

[2020-08-04 02:20] pmmmwh commented on #42
Erm ... maybe you can use `resolve.alias` or play with the `node` option which provides these Node polyfills?

`native-url` provides a simpler API to interact with (similar to what Node's `url` module has to offer, `url.format`). It is not really a polyfill but a wrapper to provide more functionality.

I think what you're suggesting is that we provide multiple bundles, rather than splitting the pa

[2020-08-04 02:29] MOZGIII commented on #169
I make it work with a patch that comments out the checks. I was getting a lot of HMR warning messages about incorrcect (or unexpected) errors. I’m not sure what was causing it, but it was a code with a gross hack, so I didn’t create an issue for that. When I have time to continue the investigation - I’ll try to debug it.

Also, I figured there must be a webpack plugin that conditionally inserts ot

[2020-08-05 08:51] GuskiS commented on #24
First approach didn't work, tried both ways - with named plugin or by initializing directly. I'm getting the same error.

Second approach feels like a lot of work, cause my worker is quite complicated.

[2020-08-05 11:14] jantimon opened #173 "Enable this plugin only during development mode"
hey

the https://github.com/jantimon/favicons-webpack-plugin is only generating the full favicon during production mode by default.
so if you set `mode: "development"` it will not be active unless you overrule that setting.

what about adding something similar to ReactRefreshWebpackPlugin?

the api could look like this:

[code]

[code]

to find out wether you are in production mode or in dev mode

[2020-08-05 13:39] pmmmwh commented on #173
This is already the case I believe - if you set mode to `development` no hooks will be attached. You can use `forceEnable` to override the setting though.

[2020-08-05 14:00] pmmmwh commented on #24
Can you create a reproducible example? There's no way I can offer more help without any context.

[2020-08-05 14:36] jantimon commented on #173
Oh cool 👍

why would you need this code in that case to conditionally add it?

[code]

[2020-08-05 14:45] jantimon commented on #173
one more idea:

can we move all of this into the plugin?

[code]

We could in the `afterPlugins` webpack hook iterate over all loaders - search for babel and check if it contains `react-refresh/babel` - if not push it.

So the webpack prod(disabled)/dev(enabled) config change to add the refresh plugin would look like this:

[code]

[2020-08-05 15:42] pmmmwh commented on #173
It is always good to make the configuration explicit from a library authors' standpoint, so users would know upfront if something is broken or not. Historically my experience throughout the development of this plugin is that it is more easy to break things when you don't add them conditionally - like some might forget to use Babel for some files, or included/ignored some files in the side of the p

[2020-08-05 16:30] aditya81070 opened #174 "`module.hot.invalidate` is not a function"
I am trying this plugin with webpack-dev-server. I followed the instructions to add this plugin to code and also checked example in  `webpack-dev-server` in `examples` directory.

This is my `devServer` config:
[code]
I am also using following code snippet to use HMR:-
[code]
After adding the plugin to my `webpack.config.js`, I changed the label text of Input component. (The input component and th

[2020-08-05 17:13] pmmmwh commented on #174
Hi, are you using Webpack 4.43.0+?

Also, you most likely don't need that HMR snippet.

[2020-08-06 03:50] aditya81070 commented on #174
Hey @pmmmwh , I updated the webpack version and now the error is gone. But still I am facing issues with it. I checked the console logs, it says that HMR is updated and also logs the file I changed but it doesn't change the refresh (update the content) page.
Should I need to update the WDS also?

[2020-08-06 07:28] jantimon commented on #173
You are mentioning good points - the problem is that webpack configs are hard to write and even harder to understand and maintain. That's why I am always looking for ways to reduce conditions, and to decouple configuration lines.

You are right there are many many edge cases - Maybe such a feature could be behind a feature flag like `autoInject` or something.
That way to get started a dev could ju

[2020-08-06 08:03] Eivs opened #175 "Modifying the mobx store will crash"
Hi, I am using mobx-react's Provider and inject API

Root component:
[code]

Other components:
[code]

Crash after modifying the store file:
[code]

webpack: 4.44.1
webpack-dev-server: 3.11.0
react: 16.13.1
react-dom: 16.13.1
mobx: 5.15.5
mobx-react: 6.2.5
@pmmmwh/react-refresh-webpack-plugin: 0.4.1
react-refresh: 0.8.3

[2020-08-06 14:33] gaearon commented on #175
Please report this to MobX. Generally, it is expected that React components are able to gracefully react to any prop updates.

[2020-08-06 19:32] pmmmwh commented on #174
Can you provide a reproduce repo?

Some checks:
- Is there any failed requests in the Console/Network tab in DevTools?
- Did you apply the `react-refresh/babel` plugin?
- Are you using React 16.9+?
- Do you have any other integrations intercepting HMR?
- Did you remove the HMR snippet?
- What versions of this plugin, react-refresh, react, webpack, wds are you on?

[2020-08-06 19:48] pmmmwh commented on #175
In `mobx-react@6` they have clearly stated that the `Provider`/`inject` pattern is getting obsolete. That API have a lot of legacy restrictions and most likely aren't compatible with newer/upcoming React features (such as FR which is the case here) - not to mention that they are error prone and not very resilient to re-initialisation (which is what happens React refreshes the component).

I'm quit

[2020-08-06 20:03] pmmmwh commented on #173
You mentioned that Webpack configuration is difficult to maintain - and that is kinda exactly why I'm pushing back on this. The matrix of build tools and setups we have to cover makes such a flag tricky to implement and use.

I don't want to sound reluctant to change, but we have had something similar before - a check to detect whether or not the Babel plugin is applied. It just ended up throwing

[2020-08-06 20:12] pmmmwh commented on #173
I also think that there are other ways to approach this problem, each with different trade-offs (e.g. performance, ergonomics)

- Add `react-refresh/babel` under a flag in `@babel/preset-react`
- Move the whole transform within Webpack's parsing run
- Apply the transform with our own loader (it currently already exists, but we don't parse the source into an AST)
- Push Babel to provide some sort o

[2020-08-07 04:10] aditya81070 commented on #174
Hey @pmmmwh , I tried this plugin by creating a new project (using CRA) and it worked really well.
I am trying to use this plugin in a fairly complex and large level application (that is built using WDS). I noticed that the when I update code of any component then WDS logs that component is updated. I checked the code of the component into source tab and found that component code is also updated e

[2020-08-07 04:17] pmmmwh commented on #174
@aditya81070 would you mind posting your Webpack config here?

[2020-08-07 04:25] pmmmwh commented on #169
I think it might have something to do with mismatched conditions inside the prerender script, ouch.

This is actually not very safe because all plugins should have been added before the compilation starts (cause after that hooks will run in order and will not re-fire) ... (which is also why we don't insert HMR automatically because some other integration might do it programmatically)

[2020-08-07 04:25] aditya81070 commented on #174
@pmmmwh Yeah here it is I have removed the aliases as there were a lot of aliases.
[code]

[2020-08-07 04:59] pmmmwh commented on #174
@aditya81070 One thing I've noticed - is the file you're editing written in TypeScript by any chance? You'll have to pass output from `ts-loader` to `babel-loader` (maybe only with the `react-refresh/babel` plugin).

Also is it possible for you to look at your raw compiled code and check if there are traces of `__webpack_require__.$Refresh$`?

[2020-08-07 05:05] MOZGIII commented on #169
I've prepared a fork of the `electron-forge-webpack-plugin` recently, and I'm planning to use it to concentrate all the patches to the upstream that I need - including a dedicated prepend script config.
This should be solved that way. Until then, I can use `0.3.3` that works fine.

[2020-08-07 05:14] pmmmwh commented on #169
I'll update the `forceEnable` flag to allow you bypass all checks that we have in place, but because in v0.4 we do the processing as a part of Webpack's parsing run it might cause unintended consequences (so it might still not work if you cannot apply plugins conditionally).

[2020-08-07 05:20] MOZGIII commented on #169
Don't bother, I think those checks are beneficial even if one would want to `forceEnable` the plugin. They do their job in warning users that things went south. So, if you want it - maybe allow anew value `forceEnable: 'no-warnings'`? I mean, without this warning I'd be more confused than with it - the code wouldn't work, but there would be no sign of a problem. With it I was able to diagnose in m

[2020-08-07 05:28] aditya81070 commented on #174
@pmmmwh Nope, I am using following simple functional component and only rendering that.
[code]

And yes I checked the `main.js` bundle and found following code snippet (There are 900 references of `$Refresh` 😛 :-
[code]

[2020-08-07 07:56] donaldpipowitch opened #176 "$RefreshReg$ is not defined with ChildCompiler usage"
This is a follow up to https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/36#issuecomment-665036157.

I created a demo where you can reproduce the error: https://github.com/donaldpipowitch/react-refresh-webpack-plugin-RefreshSig-bug

---

It looks to happen because of a child compiler. I use `html-webpack-plugin` to prerender a React component into an `index.html` file. (This will rende

[2020-08-07 08:00] pmmmwh commented on #169
I was debating to either use `forceEnable` as a way to suppress checks, or just add a `forceSuppressErrors` flag. Maybe we could go with the latter then.

[2020-08-07 08:20] pmmmwh commented on #174
This is really strange - I've just created a project with the exact same Webpack config and stuff ran smoothly for me. What version of `react-dom` are you on?

[2020-08-07 08:58] pmmmwh commented on #176
This is not really related to enabling/disabling this plugin - it's more about the Babel plugin.

For example, if you intentionally exclude `react-refresh/babel` from being able to process the file you'd import from the html template your setup would be working fine. This is more of a "limitation" of what you can do with templating - `html-webpack-plugin` inherits all the loaders but would not clo

[2020-08-07 12:03] gaearon commented on #176
Shouldn’t prerendering be done in production mode?

[2020-08-07 15:37] aditya81070 commented on #174
@pmmmwh My bad. I forgot to update `react-dom` to latest version it was <16.9. I updated this and things worked smoothly. Thank you for your help and time.

[2020-08-07 15:47] aditya81070 commented on #174
I have one question though. I am using Redux and most of the time I end up wrapping components in `connect`.  How should I arrange/write my components so I can use this plugin.

Below is an example how I write my components most of the time. Will it work if I do changes in `presentational.js`?.

[code]

[code]

[2020-08-07 15:51] aditya81070 commented on #170
@pmmmwh Please also add the webpack , WDS minimum version also. I also  faced issues although you instructed me to solve them.

[2020-08-07 17:04] pmmmwh commented on #174
It should be fine - state should be preserved without any problems. If you do hit anything though, you might have to report to Redux instead because it's most likely that they are "incompatible" with React's internals.

(I haven't used `connect` in a while and I assume it does follow the `PascalCase` rule for component names within it's internals)

[2020-08-07 17:05] pmmmwh commented on #174
I'll close this issue since there's a resolution, but I'll still answer any further questions here 😉

[2020-08-07 17:05] #174 closed

[2020-08-07 17:16] pmmmwh commented on #176
From my understanding this is more of an "edge" case - this is using React as a "templating language" and injecting the created DOM tree into a template (kinda like how SSG works) during compilation to set default content of the `index.html`.

I see a general form of this problem: there's some code within a repo yields a separate "branch" of execution (e.g. WebWorkers, Electron Prerender) controll